<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/maolai.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/maolai.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- ignore package -->
	<logger name="org" level="ERROR" />
	<logger name="ch.qos" level="ERROR" />

	<!-- project default level -->
	<logger name="com.shangpin" level="INFO" />
	<logger name="com.aolai" level="INFO" />

	<!--log4jdbc -->
	<!-- 
 	<logger name="jdbc.sqltiming" level="INFO"/> 
	<logger name="org.apache.ibatis" level="INFO"/> 
	<logger name="java.sql" level="INFO"/>
	 -->

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>