.list_moreLink {
	display:block; 
	height:44px; 
	line-height:44px; 
	overflow:hidden; 
	text-align:center; 
	color:#36393e; 
	border-bottom:1px solid #ededed; 
	background-color:#fff;
	}
.alList_moreBtn{ 
	display:block;  
	margin:10px 40px 20px; 
	background: -moz-linear-gradient(top, #ededed, #e0e0e0 100%); 
	background:-o-repeating-linear-gradient(top, #ededed, #e0e0e0 100%); 
	background:-webkit-gradient(linear,left top,left bottom,from(#ededed),to(#e0e0e0)); 
	color:#484848; 
	height:45px; 
	line-height:45px; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
	text-align:center; 
	font-size:16px;
	}
	.brand_noresults{ display:table-cell; vertical-align:middle; height:230px; text-align:center; width:320px; line-height:19px; color:#484848;}