body { background: #fff }
.container { min-width: 320px; max-width: 640px; margin: 0 auto; }
.topFix { min-width: 320px; max-width: 640px; position: static; height: 45px; }
.topFix section { position: static; }
body .alContent { margin-top: 0px; }
.paymet_block { width: 100%;background:#f6f6f6; }

.paymet_block div.order-prompt{display: -webkit-box; position:relative;  padding:10px 15px; line-height:1.5; margin-bottom:-10px; }
.order-prompt i{ display:block; width:26px; height:auto; }
.order-prompt i img{ position:absolute; left:15px; top:50%; margin:-13px 0 0 0;}
.order-prompt span{box-flex:1;-webkit-box-flex:1; display:block;font-size:11px; margin-left:5px;}

.paymet_block p.addr_block { margin-top: 10px; padding: 0 10px; background-color: #fff; color: #555; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; }
.paymet_block p.addr_block span { display: block; padding: 10px 0; line-height: 20px; border-bottom: 1px solid #d8d8d8; }
.paymet_block p.addr_block span i { display: block; line-height: 30px; }
.paymet_block p.addr_block span.addr_edit { border: none; text-align: right; }
.paymet_block p.addr_block span.addr_edit a { display: inline-block; color: #2d2d2d; height: 20px; padding-left: 20px; background-image: url(../../images/edit_icon.png); background-repeat: no-repeat; background-size: 16px; }
.paymet_block p.addr_block span.addr_edit a.editBtn { background-position: 0 0; }
.paymet_block p.addr_block span.addr_edit a.deletBtn { background-position: 0 -20px; }
.paymet_block fieldset { width: 100%; padding-bottom: 10px; }
.paymet_block fieldset.notBtm { padding-bottom: 0; }
.paymet_block fieldset legend {background: #f6f6f6; color: #2d2d2d; font-size: 14px; padding: 0 15px; height: 39px; line-height: 39px; border-bottom: 1px solid #d8d8d8; display: block; width: 100%; box-sizing: border-box; }
.paymet_block fieldset h2 { background: #fff; color: #2d2d2d; font-size: 14px; font-weight: normal; padding: 0 15px; height: 39px; line-height: 39px; border-bottom: 1px solid #d8d8d8; display: block; width: 100%; box-sizing: border-box; }
.paymet_block fieldset legend.price { border-top: 1px solid #d8d8d8; color: #c62026; background: #fff }
.paymet_block fieldset legend.price em { display: block; float: left; }
.paymet_block fieldset legend.price span { float: right; }
.paymet_block fieldset p { border-bottom: 1px solid #d8d8d8; background-color: #fff; height: 39px; line-height: 39px; color: #999; padding: 0 15px; position: relative; }

/*配送方式*/
.paymet_block fieldset p.selected { height: auto; line-height: 22px; }
.paymet_block fieldset p.selected a { display: block; line-height: 22px; padding: 8px 0; color: #555 }
.paymet_block fieldset p.selected a strong { color: #red; font-weight: normal }
.paymet_block fieldset p.selected a .phone { float: right; }
.paymet_block fieldset p.selected time { float: right }

.paymet_block fieldset p span.e-gift-card { display: block; background: none; line-height: 22px; padding: 0; margin-top:4px; }

.paymet_block fieldset p span.delivery_mode { display: inline-block; float: right; background: none; margin-right: 20px; line-height: 24px; padding: 0; }
.paymet_block fieldset p.select a { background: url(../../images/arrow_r.png) no-repeat right center; background-size: 7px 12px; color: #555; display: inline-block; line-height: 24px; height:24px; width:100%;margin-top: 7px;}
.paymet_block fieldset p.select a.error{border: 1px solid #f00;}
.paymet_block fieldset p.pay-model-p { color: #888; position:relative; }
.paymet_block fieldset p.pay-model-p span { display: inline-block; float: right; background:#fff; /*margin-right: 20px;*/white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width:50%;text-align:right; box-sizing:border-box; line-height: 22px; padding: 8px 0 8px 10px;/*position:relative; z-index:5*/ }
/*.paymet_block fieldset p.pay-model-p a { display: inline-block; line-height: 22px; padding: 8px 0; }*/
.paymet_block fieldset p.pay-model-p a { position:absolute; display: inline-block; line-height: 22px; padding: 8px 0; right:15px; left:15px;white-space: nowrap; overflow: hidden;text-overflow: ellipsis; width:50%;}
.paymet_block fieldset p.pay-model-p strong { color: #2d2d2d; font-weight: normal }
.paymet_block fieldset p label { display: inline-block; margin: 0 10px 0 0; width: 65px; font-size: 12px; color: #555; }
.paymet_block fieldset p input[type=text], .paymet_block fieldset p input[type=password],.paymet_block fieldset p input[type=number],.paymet_block fieldset p input[type=tel] { border: 1px solid #fff; background: rgba(0,0,0,0); height: 24px; width: 65%; z-index: 0; font-size: 12px; padding: 0 5px; }
.paymet_block fieldset p input[type=password].giftCard { border: 1px solid #eee; height: 28px; margin: 5px 0; width: 95%; }
.paymet_block fieldset p input[type=text].error, .paymet_block fieldset p input[type=password].error,.paymet_block fieldset p input[type=tel].error { border: 1px solid #f00; }
.select-invoice a { color: #555 }
.select-invoice .select-option { display: inline-block; width: 40px; height: 21px; line-height: 21px; font-size: 12px; text-align: right; color: #888; background: url(../../images/radio.png) no-repeat 55px -5px; background-size: 21px; padding: 5px 0 5px 55px; }
.select-invoice .cur { background: url(../../images/radio.png) no-repeat 55px -45px; background-size: 21px; }

/*.paymet_block fieldset p.order-type{ background:#f2f2f2; border-bottom:0; }*/
.paymet_block fieldset p.order-type{ margin-top:10px;}
.paymet_block fieldset p.order-type a{color:#2d2d2d}

/*提交按钮*/
.payment_fixed { position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f2f2f2; border-top: 1px solid #d8d8d8; }
.payment_submit { position: relative; margin: 15px; height: 40px; }
.payment_submit.right_btn { position: absolute; right: 0; bottom: 0; width: 130px; }
.payment_submit dl { display: -webkit-box; display: -moz-box; display: -o-box; display: box; width: 100%; }
.payment_submit dt { width: 8px; }
.payment_submit dd { -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
.payment_btn { background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; }
input.payment_btn { opacity: 0; outline: none; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; margin: 0 auto; }
input.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; }
.paymet_block fieldset p.pord_info { height: auto; }
.paymet_block fieldset p.pord_info a { display: block; padding: 10px 0 5px; }
.paymet_block fieldset p.pord_info img { float: left; margin: 0 10px; }
.paymet_block fieldset p.pord_info ins { margin-left: 15px; text-decoration: none; line-height: normal; float: left; }
.paymet_block fieldset p.pord_info i { color: #2d2d2d; font-size: 12px; line-height: 16px; display: block; width: 190px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 5px; }
/*.paymet_block fieldset p.pord_info i > span{display: inline-block; margin-right: 5px;margin-top: 2px;vertical-align: top; }*/
.paymet_block fieldset p.pord_info i > span{display: inline-block; margin-left: 5px;margin-top: 2px;vertical-align: top; float:right;}
.paymet_block fieldset p.pord_info i > span img{ margin:0}
.paymet_block fieldset p.pord_info em { display: inline-block; line-height: 16px; height: 16px; color: #888; font-size: 12px; width: 90px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; }
.paymet_block fieldset p.invoice { height: auto; line-height: 24px; padding: 10px 15px; display: none }
.paymet_block fieldset p.invoice a { color: #888; height: auto; }
.paymet_block fieldset p.invoice em { color: #2d2d2d; }
.paymet_block fieldset p.coupons i { position: absolute; right: 40px; top: 0; line-height: 39px; }
.paymet_block fieldset p.coupons i em { color: #ff3b3b; }
.paymet_block fieldset p.giftCard a { color: #555; display: block; background: url(../../images/select_Nbg.png) no-repeat right center; background-size: 21px; }
.paymet_block fieldset p.giftCard a.cur { background: url(../../images/select.png) no-repeat right center; background-size: 21px; }
.paymet_block fieldset p.giftCard i { color: #ff3b3b; font-size: 12px; padding-left: 20px; }
/*支付方式*/
.paymet_block fieldset p.payment-method span { display: block; line-height: normal; padding: 5px 0 5px 55px; background-image: url(../../images/bank.png); background-repeat: no-repeat; background-size: 45px; }
.paymet_block fieldset p.payment-method span a { display: block; font-size: 12px; color: #888; background: url(../../images/radio.png) no-repeat right -5px; background-size: 21px; }
.paymet_block fieldset p.payment-method span a.cur { background: url(../../images/radio.png) no-repeat right -45px; background-size: 21px; }
.paymet_block fieldset p.payment-method span a em { font-size: 12px; color: #555; }
.paymet_block fieldset p.payment-method span.alipay { background-position: 0 0; }
.paymet_block fieldset p.payment-method span.unionPay { background-position: 0 -40px; }
.paymet_block fieldset p.payment-method span.weixinPay { background-position: 0 -160px; }
.paymet_block fieldset p.payment-method span.cashPay { background-position: 0 -80px; }
.paymet_block fieldset p.payment-method span.postPay { background-position: 0 -120px; }
.paymet_block fieldset p.payment-method span.pufaPay { background-position: 0 -201px; }
.paymet_block fieldset p.payment-method span.weixinPay a, .paymet_block fieldset p span.cashPay a, .paymet_block fieldset p span.postPay a, .paymet_block fieldset p span.pufaPay a { height: 29px; line-height: 29px; color: #555; }
.paymet_block fieldset p.total { /*border-top: 1px solid #d8d8d8; */height: auto; text-align: right; font-size: 13px; line-height: 24px;/* margin-top: 10px;*/ padding: 10px 15px; color: #555; }
.paymet_block fieldset p.total em { display: block;color: #ff3b3b; }
.paymet_block fieldset p.total i { display: inline-block; width: 60px; text-align: left; }
.paymet_block .payment_fixed { position: relative; bottom: 0; left: 0; width: 100%; background-color: #f2f2f2; }
.paymet_block .payment_submit { position: relative; margin: 15px; height: 40px; }
.paymet_block .payment_submit dl { display: -webkit-box; display: -moz-box; display: -o-box; display: box; width: 100%; }
.paymet_block .payment_submit dt { width: 8px; }
.paymet_block .payment_submit dd { -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
.paymet_block .payment_btn { background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.paymet_block .payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; color: #fff; }
.paymet_block input.payment_btn { opacity: 0; outline: none; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; margin: 0 auto; }
.paymet_block input.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; color: #fff; }
.paymet_block .contiu_btn { background-color: #fff; border: 1px solid #c62026; color: #c62026; height: 38px; line-height: 38px; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.paymet_block .contiu_btn:hover { background-color: #c62026; border: 1px solid #c62026; color: #fff; }
.paymet_block .payment_submit_bg { background: #fff; margin: 10px 0 0; border-top: #d8d8d8; padding: 15px }
.btn-icon { width: 100%; height: 38px; overflow: hidden; }
.btn-icon a { float: left; display: block; width: 48%; box-sizing: border-box; background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 14px; }
.btn-icon a.cancel-btn { margin-right: 4%; }
.btn-icon a.total_amount { background-color: transparent; border: 0; color: #555555; }
.btn-icon a.total_amount em { color: #c62026; }
.other-payment-box { display: none; }

/*选择层*/
.select-overlay { position: absolute; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); display: none; }
.select-layer { width: 100%; position: fixed; bottom: 0; left: 0; z-index: 99999; background-color: #fff; display: none; }
.select-layer .close_btn { position: absolute; top: 10px; right: 10px; background: url(/images/order/close.png) 0 0 no-repeat; background-size: 15px; text-indent: -3000px; display: block; width: 15px; height: 15px; }
.select-layer h3 { color: #000; font-size: 16px; font-weight: normal; padding: 0 15px; height: 39px; line-height: 39px; display: block; width: 100%; box-sizing: border-box; background-color: #f2f2f2; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.select-layer dl { width: 100%;overflow: hidden; overflow-y: auto; }
.select-layer dl:not(:first-of-type) { display: none; }
.select-layer dd { border-bottom: 1px solid #d8d8d8; height: 39px; line-height: 39px; color: #999; padding: 0 15px; position: relative; }
.select-layer dd a { display: block; font-size: 12px; color: #555; background: url(../../images/radio.png) no-repeat right 0; background-size: 21px; }
.select-layer dd a.cur { background: url(../../images/radio.png) no-repeat right -40px; background-size: 21px; }


/*取消弹框*/
.overlay, .modal .modal-ft { display: -webkit-box; display: -webkit-flex; display: flex; }
.overlay { top: 0; right: 0; bottom: 0; left: 0; z-index: -10; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }
.overlay.active { z-index: 980; position: fixed; background-color: rgba(0, 0, 0, 0.8); }
.modal { -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.modal { width: 292px; height: 159px; background: url(/images/coupon/pop_bg.png) no-repeat; background-size: cover; margin: 0 10px; overflow: hidden; opacity: 0; -webkit-transform: translate3d(0, 0, 0) scale(0.815); transform: translate3d(0, 0, 0) scale(0.815); -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; display: none; }
.modal.modal-in { opacity: 1; -webkit-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }
.modal .modal-hd { text-align: center; line-height: 50px; color: #555; font-size: 17px; }
.modal .modal-bd { padding: 15px; line-height: 1; color: #888; text-align: center; }
.modal .modal-bd strong { color: #c62026; font-weight: normal }
.modal .modal-ft { display: block; text-align: center; line-height: 40px; padding: 0 15px 15px; }
.modal .modal-ft .btn-modal { display: inline-block; background-color: #fff; text-align: center; line-height: 40px; color: #c62026; padding: 0 25px; margin-right: 15px; border: 1px solid #c62026; }
.modal .modal-ft a.enter-active { display: inline-block; background-color: #c62026; text-align: center; line-height: 40px; color: #fff; padding: 0 25px; margin-right: 0; border: 1px solid #c62026; }
.modal .modal-ft a.enter-active:link { color: #fff; }


/*弹框显示地址start*/
#area_overlay{
	position:absolute;
	z-index:99998;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.4);
	display:none;
}
#area_layer{
	position: fixed;
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	bottom: 0;
	border-radius:0;
	left: auto;
	top:auto;
	margin: 0 auto;
	z-index: 99999;
	background-color: #fff;
	display: none;

}
#area_layer h3 {
	color: #000;
	font-size: 16px;
	font-weight:normal;
	padding:0 15px;
	height:39px;
	line-height:39px;
	display:block;
	width: 100%;
	box-sizing: border-box;
	background-color:#f2f2f2;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	text-align:center;
}

#area_layer dl{
	width:100%;
	height:207px;	
	overflow:hidden;
	overflow-y:auto;
}
#area_layer dl:not(:first-of-type){
	display:none;
}
#area_layer dd {
	border-bottom:1px solid #d8d8d8;
	height: 39px;
	line-height: 39px;
	color: #999;
	padding:0 15px;
	position: relative;
}
#area_layer dd  a{
	display:block;
	font-size:12px;
	color:#555;
	background:url(../../images/radio.png) no-repeat right 0;
	background-size:21px;
}
#area_layer dd  a.cur{
	background:url(../../images/radio.png) no-repeat right -40px;
	background-size:21px;
}


#area_layer dd{
	z-index:999999;
}

#area_layer .prev_btn {
	position: absolute;
	top: 12px;
	left: 10px;
	background: url(../../images/prev_btn.png) 0 0 no-repeat;
	background-size: 15px;
	text-indent: -3000px;
	display: none;
	width: 15px;
	height: 15px;
}

#area_layer .close_btn {
	position: absolute;
	top: 12px;
	right: 10px;
	background: url(../../images/close.png) 0 0 no-repeat;
	background-size: 15px;
	text-indent: -3000px;
	display: block;
	width: 15px;
	height: 15px;
}
#area_layer h2{
	background:#f2f2f2;
	padding: 0 15px;
	line-height:32px;
	height:32px;
}
#area_layer h2 a.cancel_btn, #area_layer h2 a.sure_btn{
	float:left;
	display:block;
	color:#f03232;
	font-size:15px;
	font-weight:normal;
}
#area_layer h2 a.sure_btn{
	float:right;
}

/*弹框显示地址end*/
.paymet_block fieldset p.authCode-box input[type=tel]{ width:40%;}
.authCode-box em{   
  width: 76px;
  display: inline-block;
  font-size:12px;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #555;
  text-align: center;
  position:absolute; 
  right:10px;
  top:6px;
  color:#555;
}
.authCode-box em.noblur{
	color:#ccc;	
	border: 1px solid #ccc;
}

/*公共弹框样式start*/

#popup_container {
	width: auto;
	min-width: 200px;
	max-width: 200px;
	height:40px;
	min-height: 40px;
	max-height: 40px;
	background: rgba(0,0,0,.7);
	color: #fff;
}
#popup_message{
	min-height: 40px;
	line-height:40px;
	padding:0 10px;
}
#popup_content button{
	border: 1px solid #c62026;
	background:#c62026;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	margin:0 auto;
	border-radius:2px;
	cursor: pointer;
}
#popup_content button:hover{
	background:#c62026;
	color:#fff;
}
/*公共弹框样式end*/
