@charset "utf-8";
body { background: #f2f2f2; }
body .alContent {margin-top: 0px;}
.container{ min-width:320px; max-width:640px; margin:0 auto;/* position:relative;*/ }
a:hover, a:active { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
nav, .address ul li a, .address ul li img, .address ul li span, .address dt a { display: block; }
/*内容区域 start*/

div.order-prompt{display: -webkit-box; position:relative;  padding:10px 15px; line-height:1.5; background:#fff; border:1px solid #e5e5e5; color:#888; }
.order-prompt i{ display:block; width:26px; height:auto; }
.order-prompt i img{ position:absolute; left:15px; top:50%; margin:-13px 0 0 0;}
.order-prompt span{box-flex:1;-webkit-box-flex:1; display:block;font-size:11px; margin-left:5px;}

.order_block { width: 100%; clear: both; min-width: 320px; padding-top: 0; margin-bottom: 10px; }
.order_block h2 { line-height: 46px; font-size: 12px; height: 46px; background: #fff; font-weight: normal; box-shadow: 0px 6px 8px #ececec; }
.order_block h2 span { padding: 0 20px; display: inline; }
.order_block h2 span b { color: #2d2d2d; font-weight: normal; }
.order_block nav{margin: 10px 8px 10px; border: 1px solid #d8d8d8; /*border-left: 0; border-right: 0;*/ background: #fff;}
.order_block nav ul.menn-list {width: 100%;padding:3px 0; box-sizing:border-box; border-bottom: 1px solid #d8d8d8; }

.order_block nav ul.menn-list li { float:left; width:33.3%; line-height: 37px; height: 37px; font-size: 15px; text-align: center; margin: 0; padding: 0; }
.order_block nav ul.goods-list { width: auto; padding:10px; }
.order_block nav ul.goods-list li { width: 70px; height: auto; padding: 10px; float: left; }
.order_block nav ul.goods-list li span { overflow: hidden; white-space: nowrap; /*text-overflow: ellipsis;*/font-size: 12px; }
.address h4 { line-height: 36px; color: #6c6c6c; padding: 0 15px; font-weight: normal; }
.address dl { background: url(../../images/order/pic_tel.png) right 15px no-repeat; background-size: 34px 28px; padding: 13px 0 13px 17px; }
.address dt { width: 28px; height: 28px; padding-right: 17px; float: left; }
.address dd { width: auto; line-height: 100%; }
.address dd p { padding-bottom: 5px; }
.address .add_list { padding: 10px 12px; line-height: 150%; }
.address .add_list p { min-width: 282px; }
.address .add_list p span { vertical-align: top; }
.address .add_list p span.left { display: inline-block; width: 75px; float: left; }
.address .add_list p span.right { display: block; margin-left: 75px; float: none; }
.address ul { width: auto; }
.address ul li { width: 70px; height: auto; padding: 10px; float: left; }
.address ul li span { overflow: hidden; white-space: nowrap; /*text-overflow: ellipsis;*/font-size: 12px; }
.address_list { padding: 30px 10px 0 27px; min-width: 265px; }
.address_list li { display: block; border-left: 2px solid #dbdbdb; padding-left: 28px; line-height: 150%; padding-bottom: 25px; position: relative; }
.address_list li.cur { border-left: 2px solid #de4747; color: #de4747; }
.address_list li i { position: absolute; top: 0; left: -8px; width: 18px; height: 18px; background: #fff url(../../images/order/pic_dot.png) 0 -28px no-repeat; background-size: 50px 50px; }
.address_list li.cur i { background-position: 0 0; }
.address_list li b { color: #2d2d2d; font-weight: normal; }
.address h4{ border-bottom: 1px solid #d8d8d8; }
.order_block h2 span, .address dd p span, .address .add_list p span.left, .address_list li { color: #888; }
.order_block h2, .address dd p, .address .add_list, .address ul li span { color: #555; }
.order_block nav ul.menn-list li, .order_block nav ul.menn-list li a { color: #2d2d2d; }
.order_block nav ul.menn-list li.cur, .order_block nav ul.menn-list li.cur a, .address h4 span { color: #de4747; }
.address, .address_list { margin: 0 8px 10px; border: 1px solid #d8d8d8; min-width: 302px; background: #fff; }
.address_list { min-width: 255px; }
/* 内容区域没查询结果end */

/*潮流轮播图*/
#swiper-container1 {width: 100%;padding:3px 0; box-sizing:border-box; border-bottom: 1px solid #d8d8d8; }
#swiper-container1 .swiper-slide {line-height: 37px; height: 37px; font-size: 15px; text-align: center;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
#swiper-container1 .swiper-slide a{color:#2d2d2d;}
#swiper-container1 .swiper-slide a.cur{color:#de4747;}

#swiper-container2 {padding:10px 0;}
#swiper-container2 .swiper-slide { text-align:center;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
#swiper-container2 .swiper-slide a span { overflow: hidden; white-space: nowrap; font-size: 12px; color:#555; }

#wrapper {position:absolute; z-index:1;top:45px; bottom:0; left:0;width:100%;overflow:auto;}
#scroller {position:relative;width:100%;}
#pullDown{
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon{
	display:block; float:left;
	width:40px; height:40px;
	background:url(../../images/order/pull-icon.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {-webkit-transform:rotate(0deg) translateZ(0);}
#pullDown.flip .pullDownIcon {-webkit-transform:rotate(-180deg) translateZ(0);}
#pullDown.loading .pullDownIcon{
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

}
.address dd{
	width:auto;
	line-height:100%;
}
.address dd p{
	padding-bottom:5px;
}

.address .add_list{
	padding:10px 12px;
	line-height: 150%;

}
.address .add_list p{
	min-width:282px;
}
.address .add_list p span{
	vertical-align:top;	
}
.address .add_list p span.left{
	display:inline-block;
	width:75px;
	float:left;
}
.address .add_list p span.right{
	display:block;
	margin-left:75px;
	float:none;
}
.address ul{
	width:auto;
}
.address ul li{
	width:70px;
	height:auto;
	padding:10px;
	float:left;
}

.address ul li span{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.address_list{
	padding:30px 10px 0 27px;
	min-width:265px;
}
.address_list li{
	display:block;
	border-left:2px solid #dbdbdb;
	padding-left:28px;
	line-height:150%;
	padding-bottom:25px;
	position:relative;
}
.address_list li.cur{
	border-left:2px solid #de4747;
}
.address_list li i{
	position:absolute;
	top:0;
	left:-8px;
	width:18px;
	height:18px;
	background:#fff url(../../images/member/pic_dot.png) 0 -28px no-repeat;
	background-size:50px 50px;
}

.address_list li.cur i{
	background-position: 0 0;
}
.address_list li b{
	color:#2d2d2d;
	font-weight:normal;
}

.address h4,.address dl, .address .add_list{
	border-bottom:1px solid #d8d8d8;
}
.order_block h2 span, .address dd p span, .address .add_list p span.left, .address_list li{
	color:#888;
}
.order_block h2, .address dd p, .address .add_list, .address ul li span{
	color:#555;
}

.order_block nav ul li, .order_block nav ul li a{
	color:#2d2d2d;
}
.order_block nav ul li.cur, .order_block nav ul li.cur a, .address h4 span{
	color:#de4747;
}
.address, .address_list{
	margin:0 8px 10px;
	border:1px solid #d8d8d8;
	min-width:302px;
	background:#fff;
}
.address_list{
	min-width: 255px;
}
/* 内容区域没查询结果end */
