@charset "utf-8";
body{
	background:#f2f2f2;
}
a:hover, a:active{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
nav, .address ul li a, .address ul li img, .address ul li span, .address dt a{display:block;}

/*内容区域 start*/
.order_block{
	width:100%; 
	clear:both; 
	min-width:320px;
	padding-top: 0;
	margin-bottom:10px;
}

.order_block h2{
	line-height:46px;
	font-size:12px;
	height:46px;
	background:#fff;
	font-weight:normal;
	box-shadow:0px 6px 8px #ececec;
}

.order_block h2 span{
	padding:0 20px;
	display:inline;
}

.order_block h2 span b{
	color:#2d2d2d;
	font-weight:normal;
}

.order_block nav ul{
	display: -webkit-box;
	display: -moz-box;
	display: box;
	width: 100%;
	min-width: 320px;
	margin:15px 0 10px;
	border:1px solid #aaa;
	border-left:0;
	border-right:0;
	background:#fff;
}
.order_block nav ul li{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	line-height: 37px;
	height: 37px;
	font-size: 15px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.address h4 {
	line-height:36px;
	color:#6c6c6c;
	padding:0 15px;
	font-weight:normal;

}

.address dl{
	background:url(../../images/track_order/pic_tel.png) right 15px no-repeat;
	background-size: 34px 28px;
	padding:13px 0 13px 17px;
}
.address dt{
	width:28px;
	height:28px;
	padding-right:17px;
	float:left;

}
.address dd{
	width:auto;
	line-height:100%;
}
.address dd p{
	padding-bottom:5px;
}

.address .add_list{
	padding:10px 12px;
	line-height: 150%;

}
.address .add_list p{
	min-width:282px;
}
.address .add_list p span{
	vertical-align:top;	
}
.address .add_list p span.left{
	display:inline-block;
	width:75px;
	float:left;
}
.address .add_list p span.right{
	display:block;
	margin-left:75px;
	float:none;
}
.address ul{
	width:auto;
}
.address ul li{
	width:70px;
	height:auto;
	padding:10px;
	float:left;
}

.address ul li span{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.address_list{
	padding:30px 10px 0 27px;
	min-width:265px;
}
.address_list li{
	display:block;
	border-left:2px solid #dbdbdb;
	padding-left:28px;
	line-height:150%;
	padding-bottom:25px;
	position:relative;
}
.address_list li.cur{
	border-left:2px solid #de4747;
}
.address_list li i{
	position:absolute;
	top:0;
	left:-8px;
	width:18px;
	height:18px;
	background:#fff url(../../images/track_order/pic_dot.png) 0 -28px no-repeat;
	background-size:50px 50px;
}

.address_list li.cur i{
	background-position: 0 0;
}
.address_list li b{
	color:#2d2d2d;
	font-weight:normal;
}

.address h4,.address dl, .address .add_list{
	border-bottom:1px solid #d8d8d8;
}
.order_block h2 span, .address dd p span, .address .add_list p span.left, .address_list li{
	color:#888;
}
.order_block h2, .address dd p, .address .add_list, .address ul li span{
	color:#555;
}

.order_block nav ul li, .order_block nav ul li a{
	color:#2d2d2d;
}
.order_block nav ul li.cur, .order_block nav ul li.cur a, .address h4 span{
	color:#de4747;
}
.address, .address_list{
	margin:0 8px 10px;
	border:1px solid #d8d8d8;
	min-width:302px;
	background:#fff;
}
.address_list{
	min-width: 255px;
}
/* 内容区域没查询结果end */

