<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>mobile-shangpin</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/applicationContext-spring.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 用户访问浏览器cookie中添加唯一标识 -->
	<filter>
		<filter-name>cookieFilter</filter-name>
		<filter-class>com.shangpin.web.filter.CookieFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	<!-- 缓存设置过滤器 -->
	<filter>
		<filter-name>cacheOption</filter-name>
		<filter-class>com.shangpin.web.filter.CacheOptionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cacheOption</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 缓存设置过滤器 end -->
	<!-- UrlRewriteFilter begin -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<!-- 检查urlrewrite.xml加载设置时间为秒，开发时使用 -->
		<init-param>
			<param-name>confReloadCheckInterval</param-name>
			<param-value>6</param-value>
		</init-param>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>info</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- UrlRewriteFilter end -->
	<filter>
		<filter-name>checkURIFilter</filter-name>
		<filter-class>com.shangpin.web.filter.CheckURIFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>checkURIFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 配置ehcache缓存web开始 -->
	<filter>
		<filter-name>pageCacheFilter</filter-name>
		<filter-class>com.shangpin.web.filter.PageCacheFilter</filter-class>
		<init-param>
			<param-name>suppressStackTrace</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>pageCachingFilter</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>pageFragmentCachingFilter</filter-name>
		<filter-class>com.shangpin.web.filter.PageFragmentCacheFilter</filter-class>
		<init-param>
			<param-name>suppressStackTrace</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>pageFragmentCachingFilter</param-value>
		</init-param>
		<init-param>
			<param-name>patterns</param-name>
			<param-value>/index/focus,/index/category,/index/hot,/index/promotion</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>pageFragmentCachingFilter</filter-name>
		<url-pattern>/index/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>pageFragmentCachingFilter</filter-name>
		<url-pattern>/meet/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- 测试缓存 -->
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/meet/index</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/fashion/index</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/fashion/list</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/fashion/detail</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>pageCacheFilter</filter-name>
		<url-pattern>/fashion/info</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>testPageFragmentCachingFilter</filter-name>
		<filter-class>com.shangpin.web.filter.PageFragmentCacheFilter</filter-class>
		<init-param>
			<param-name>suppressStackTrace</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>testPageFragmentCachingFilter</param-value>
		</init-param>
		<init-param>
			<param-name>patterns</param-name>
			<param-value>/cache/color,/cache/datetime,/cache/random</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>testPageFragmentCachingFilter</filter-name>
		<url-pattern>/cache/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- 测试缓存 结束 -->
	<!-- 配置ehcache缓存响应filter结束 -->
	<!-- <filter> <filter-name>SessionShareFilter</filter-name> <filter-class>com.shangpin.filter.SessionShareFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>SessionShareFilter</filter-name> 
		<url-pattern>/accountaction/login</url-pattern> </filter-mapping> -->

	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<welcome-file-list>
		<welcome-file>/pages/index/index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/pages/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/error/403.jsp</location>
	</error-page>
</web-app>