<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:resources/spring/applicationContext*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Trade</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.trade.Trade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trade</servlet-name>
		<url-pattern>/alipay/trade</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WebTrade</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.trade.WebTrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebTrade</servlet-name>
		<url-pattern>/alipay/webtrade</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientTrade</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.trade.ClientTrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientTrade</servlet-name>
		<url-pattern>/alipay/clienttrade</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NotifyReceiver</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.notify.RSANotifyReceiverAlipay</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotifyReceiver</servlet-name>
		<url-pattern>/alipay/notifyReceiver</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CallBack</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.callback.CallBack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CallBack</servlet-name>
		<url-pattern>/alipay/callBack</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SPWebCallBack</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.callback.SPWebCallBack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SPWebCallBack</servlet-name>
		<url-pattern>/alipay/spwebcallBack</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ALWebCallBack</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.callback.ALWebCallBack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ALWebCallBack</servlet-name>
		<url-pattern>/alipay/alwebcallBack</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShangpinClientCallBack</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.alipay.callback.ShangpinClientCallBack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShangpinClientCallBack</servlet-name>
		<url-pattern>/alipay/shangpinclientcallBack</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MsPay</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.minshengPay.MsPay</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MsPay</servlet-name>
		<url-pattern>/minshengpay/mspay</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NotityMinsheng</servlet-name>
		<servlet-class>com.shangpin.mobileShangpin.common.minshengPay.NotityCmbc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotityMinsheng</servlet-name>
		<url-pattern>/minshengpay/notityCmbc</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ECShopMerchant</servlet-name>
		<servlet-class>com.company.app.servlet.ECShopMerchant</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ECShopMerchant</servlet-name>
		<url-pattern>/ECShopMerchant.shtml</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>contentFilter</filter-name>
		<filter-class>com.shangpin.mobileShangpin.common.filter.ContentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>contentFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>checkURIFilter</filter-name>
		<filter-class>com.shangpin.mobileShangpin.common.filter.CheckURIFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>checkURIFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>pagerFilter</filter-name>
		<filter-class>com.shangpin.mobileShangpin.common.page.PagerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>pagerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>resources/struts2/struts.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	
	<filter>
		<filter-name>struts-pre</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,resources/struts2/struts.xml</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-pre</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<listener>
		<listener-class>com.shangpin.mobileShangpin.common.util.InitListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/500.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>/tlds/registPrompt</taglib-uri>
			<taglib-location>/WEB-INF/tlds/RegistPromptElFunction.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tlds/activityPicture</taglib-uri>
			<taglib-location>/WEB-INF/tlds/ActivityPictureElFunction.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tlds/activityName</taglib-uri>
			<taglib-location>/WEB-INF/tlds/ActivityNameElFunction.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/tlds/payData</taglib-uri>
			<taglib-location>/WEB-INF/tlds/PayDataELFunction.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>