@charset "utf-8";
.topFix{min-width:320px; max-width:640px;position:relative; height:45px;}
.topBack{width:100%;position:relative; height:44px; line-height:44px; border-bottom:1px solid #323232; background-color:rgba(0,0,0,.8); text-align:center; font-size:18px; color:#fff;}
.topBack .logo{text-align:left; padding-left:10px;}
.topBack a.backBtn{position:absolute; top:8px; left:8px; width:28px; height:28px; line-height:28px; background:url(../../../images/back.png) no-repeat center center; background-size:12px 21px; z-index:100;}
.topBack a.white_back{background:url(../images/back2.png) no-repeat center center #090909; background-size:10px 14px;}
.top-title{ display:block;white-space: nowrap;/**/overflow: hidden;text-overflow: ellipsis; margin:0 44px;}
body .alContent{margin-top:0px;}

.container {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto 0;
	font-size:12px;
}

.sendCard_form{
	padding:0 15px;
}

.sendCard_form input{
	height:30px;
	line-height:30px;
	background:none;
	border:none 0;
	border-bottom:1px solid #e5e5e5;
	font-size:12px;
	font-weight:normal;
	color:#888;
	text-align:center;
	padding:0 10px;
}

.sendCard_form textarea{
	border:1px solid #e5e5e5;
	box-shadow:none;
	width:94%;
	min-height:100px;
	font-size:12px;
	font-weight:normal;
	color:#888;
	line-height:20px;
	padding:10px 3%;
}
.sendCard_form h6{
	height:31px;
	line-height:31px;
	padding-top:15px;
	text-align:left;
}
.sendCard_form h6 input, .sendCard_form span input{
	min-width:60px;
	max-width:100px;
}

.sendCard_form p{
	padding-top:15px;
	text-align:left;
}

.sendCard_form span{
	display:block;
	height:31px;
	line-height:31px;
	padding-top:15px;
	text-align:right;
}


.eCard_show{
	padding:30px 35px;
	text-align:center;
}
.eCard_show span{
	display: block;
	font-size:15px;
	line-height:20px;
	padding-top:15px;
	color:#555;
}
.eCard_show span.span_val{
	font-size:14px;
	color:#000;
	padding-top:10px;	
}
.eCard_show a{
	display:inline-block;
	height:40px;
	line-height:40px;
	text-align:center;
	min-width:100px;
	padding:0 10px;
	margin-top:15px;
	background-color:#c62026;
	color:#fff;
	font-size:18px;
}

/*赠送他人start*/
.eCard_message{
	padding:20px 15px 0;
	overflow:hidden;
}
.eCard_message h6, .eCard_message span{
	color:#2d2d2d;
	line-height:15px;
}
.eCard_message h6{
	padding-bottom:10px;
}

.eCard_message p{
	color:#555;
	line-height:18px;
	text-indent:24px;
}

.eCard_message span{
	float:right;
	display: block;
}

.eCard_introduction{
	padding:15px;
}

.eCard_introduction dt, .eCard_introduction dd{
	color:#999;
	line-height:20px;
}
/*赠送他人end*/