body { background: #fff; background:#f6f6f6;}
.container { min-width: 320px; max-width: 640px; margin: 0 auto; }
.topFix { min-width: 320px; max-width: 640px; position: static; height: 45px; }
.topFix section { position: static; }
body .alContent { margin-top: 0px; }
.paymet_block { width: 100%; }

.paymet_block div.order-prompt{display: -webkit-box; position:relative;  padding:10px 15px; line-height:1.5; margin-bottom:-10px; }
.order-prompt i{ display:block; width:26px; height:auto; }
.order-prompt i img{ position:absolute; left:15px; top:50%; margin:-13px 0 0 0;}
.order-prompt span{box-flex:1;-webkit-box-flex:1; display:block;font-size:11px; margin-left:5px;}

.paymet_block p.addr_block { margin-top: 10px; padding: 0 10px; background-color: #fff; color: #555; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; }
.paymet_block p.addr_block span { display: block; padding: 10px 0; line-height: 20px; border-bottom: 1px solid #d8d8d8; }
.paymet_block p.addr_block span i { display: block; line-height: 30px; }
.paymet_block p.addr_block span.addr_edit { border: none; text-align: right; }
.paymet_block p.addr_block span.addr_edit a { display: inline-block; color: #2d2d2d; height: 20px; padding-left: 20px; background-image: url(../../../images/order/edit_icon.png); background-repeat: no-repeat; background-size: 16px; }
.paymet_block p.addr_block span.addr_edit a.editBtn { background-position: 0 0; }
.paymet_block p.addr_block span.addr_edit a.deletBtn { background-position: 0 -20px; }
.paymet_block fieldset { width: 100%; padding-bottom: 10px; }
.paymet_block fieldset.notBtm { padding-bottom: 0; }
.paymet_block fieldset legend {background: #f6f6f6; color: #2d2d2d; font-size: 14px; padding: 0 15px; height: 39px; line-height: 39px; border-bottom: 1px solid #d8d8d8; display: block; width: 100%; box-sizing: border-box; }
.paymet_block fieldset h2 { background: #fff; color: #2d2d2d; font-size: 14px; font-weight: normal; padding: 0 15px; height: 39px; line-height: 39px; border-bottom: 1px solid #d8d8d8; display: block; width: 100%; box-sizing: border-box; }
.paymet_block fieldset legend.price { border-top: 1px solid #d8d8d8; color: #c62026; background: #fff }
.paymet_block fieldset legend.price em { display: block; float: left; }
.paymet_block fieldset legend.price span { float: right; }
.paymet_block fieldset p { border-bottom: 1px solid #d8d8d8; background-color: #fff; height: 39px; line-height: 39px; color: #999; padding: 0 15px; position: relative; }

/*配送方式*/
.paymet_block fieldset p.deliver_methods{   
  height: auto;
  line-height: 1.5;
  padding: 8px 15px;
}
/*配送方式*/
.paymet_block fieldset p.selected { height: auto; line-height: 22px; }
.paymet_block fieldset p.selected a { display: block; line-height: 22px; padding: 8px 0; color: #555 }
.paymet_block fieldset p.selected a strong { color: #red; font-weight: normal }
.paymet_block fieldset p.selected a .phone { float: right; }
.paymet_block fieldset p.selected time { float: right }

.paymet_block fieldset p span.e-gift-card { display: block; background: none; line-height: 22px; padding: 0; margin-top:4px; }

.paymet_block fieldset p span.delivery_mode { display: inline-block; float: right; background: none; margin-right: 20px; line-height: 22px; padding: 0; }
.paymet_block fieldset p.select a { background: url(../../../images/order/arrow_r.png) no-repeat right center; background-size: 7px 12px; color: #555; display: block; line-height: 22px; padding: 8px 0; }
.paymet_block fieldset p.pay-model-p { color: #888; position:relative; }
.paymet_block fieldset p.pay-model-p span { display: inline-block; float: right; background:#fff; /*margin-right: 20px;*/white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width:50%;text-align:right; box-sizing:border-box; line-height: 22px; padding: 8px 0 8px 10px;/*position:relative; z-index:5*/ }
/*.paymet_block fieldset p.pay-model-p a { display: inline-block; line-height: 22px; padding: 8px 0; }*/
.paymet_block fieldset p.pay-model-p a { position:absolute; display: inline-block; line-height: 22px; padding: 8px 0; right:15px; left:15px;white-space: nowrap; overflow: hidden;text-overflow: ellipsis; width:50%;}
.paymet_block fieldset p.pay-model-p strong { color: #2d2d2d; font-weight: normal }
.paymet_block fieldset p label { display: inline-block; margin: 0 10px 0 0; width: 65px; font-size: 12px; color: #555; }
.paymet_block fieldset p input[type=text], .paymet_block fieldset p input[type=password] { border: 1px solid #fff; background: rgba(0,0,0,0); height: 24px; width: 65%; z-index: 0; font-size: 12px; padding: 0 5px; }
.paymet_block fieldset p input[type=password].giftCard { border: 1px solid #eee; height: 28px; margin: 5px 0; width: 95%; }
.paymet_block fieldset p input[type=text].error, .paymet_block fieldset p input[type=password].error { border: 1px solid #f00; }
.select-invoice a { color: #555 }
.select-invoice .select-option { display: inline-block; width: 40px; height: 21px; line-height: 21px; font-size: 12px; text-align: right; color: #888; background: url(../../../images/order/radio.png) no-repeat 55px -5px; background-size: 21px; padding: 5px 0 5px 55px; }
.select-invoice .cur { background: url(../../../images/order/radio.png) no-repeat 55px -45px; background-size: 21px; }

/*.paymet_block fieldset p.order-type{ background:#f2f2f2; border-bottom:0; }*/
.paymet_block fieldset p.order-type{ margin-top:10px;}
.paymet_block fieldset p.order-type a{color:#2d2d2d}

/*提交按钮*/
.payment_fixed { position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f2f2f2; border-top: 1px solid #d8d8d8; }
.payment_submit { position: relative; margin: 15px; height: 40px; }
.payment_submit.right_btn { position: absolute; right: 0; bottom: 0; width: 130px; }
.payment_submit dl { display: -webkit-box; display: -moz-box; display: -o-box; display: box; width: 100%; }
.payment_submit dt { width: 8px; }
.payment_submit dd { -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
.payment_btn { background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; }
input.payment_btn { opacity: 0; outline: none; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; margin: 0 auto; }
input.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; }
.paymet_block fieldset p.pord_info { height: auto; }
.paymet_block fieldset p.pord_info a { display: block; padding: 10px 0 5px; }
.paymet_block fieldset p.pord_info img { float: left; margin: 0 10px; }
.paymet_block fieldset p.pord_info ins { margin-left: 15px; text-decoration: none; line-height: normal; float: left; }
.paymet_block fieldset p.pord_info i { color: #2d2d2d; font-size: 12px; line-height: 16px; display: block; width: 190px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 5px; }
/*.paymet_block fieldset p.pord_info i > span{display: inline-block; margin-right: 5px;margin-top: 2px;vertical-align: top; }*/
.paymet_block fieldset p.pord_info i > span{display: inline-block; margin-left: 5px;margin-top: 2px;vertical-align: top; float:right;}
.paymet_block fieldset p.pord_info i > span img{ margin:0}
.paymet_block fieldset p.pord_info em { display: inline-block; line-height: 16px; height: 16px; color: #888; font-size: 12px; width: 90px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; }
.paymet_block .pord_info_new{
	background:#fff;
	border-bottom: 1px solid #d8d8d8;
	padding:0 15px
}
.paymet_block .pord_info_new > a{ color:#555; padding:10px 0; display:box; display:-webkit-box; font-size:12px;}
.paymet_block .pord_info_new > a > div{ line-height:16px; height:68px; -webkit-box-flex:1;box-flex:1; margin-left:15px;}
.paymet_block .pord_info_new > a > div i{ display:block;padding-bottom:4px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;}
.paymet_block .pord_info_new > a > div em{ color:#888; display:block; float:left;  width:50%;  overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}

.paymet_block fieldset p.invoice { height: auto; line-height: 24px; padding: 10px 15px; display: none }
.paymet_block fieldset p.invoice a { color: #888; height: auto; }
.paymet_block fieldset p.invoice em { color: #2d2d2d; }
.paymet_block fieldset p.coupons i { position: absolute; right: 40px; top: 0; line-height: 39px; }
.paymet_block fieldset p.coupons i em { color: #ff3b3b; }
.paymet_block fieldset p.giftCard a { color: #555; display: block; background: url(../../../images/order/select_Nbg.png) no-repeat right center; background-size: 21px; }
.paymet_block fieldset p.giftCard a.cur { background: url(../../../images/order/select.png) no-repeat right center; background-size: 21px; }
.paymet_block fieldset p.giftCard i { color: #ff3b3b; font-size: 12px; padding-left: 20px; }
/*支付方式*/
.paymet_block fieldset p.payment-method span { display: block; line-height: normal; padding: 5px 0 5px 55px; background-image: url(../../../images/order/bank.png); background-repeat: no-repeat; background-size: 45px; }
.paymet_block fieldset p.payment-method span a { display: block; font-size: 9px; color: #888; background: url(../../../images/order/radio.png) no-repeat right -5px; background-size: 21px; }
.paymet_block fieldset p.payment-method span a.cur { background: url(../../../images/order/radio.png) no-repeat right -45px; background-size: 21px; }
.paymet_block fieldset p.payment-method span a em { font-size: 12px; color: #555; }
.paymet_block fieldset p.payment-method span.alipay { background-position: 0 0; }
.paymet_block fieldset p.payment-method span.unionPay { background-position: 0 -40px; }
.paymet_block fieldset p.payment-method span.weixinPay { background-position: 0 -160px; }
.paymet_block fieldset p.payment-method span.cashPay { background-position: 0 -80px; }
.paymet_block fieldset p.payment-method span.postPay { background-position: 0 -120px; }
.paymet_block fieldset p.payment-method span.pufaPay { background-position: 0 -201px; }
.paymet_block fieldset p.payment-method span.CMPay { background-position: 0 -243px; }
.paymet_block fieldset p.payment-method span.weixinPay a, .paymet_block fieldset p span.cashPay a, .paymet_block fieldset p span.postPay a, .paymet_block fieldset p span.pufaPay a , .paymet_block fieldset p span.CMPay a, .paymet_block fieldset p span.alipay a, .paymet_block fieldset p span.unionPay a { height: 29px; line-height: 29px; color: #555; }
.paymet_block fieldset p.total { /*border-top: 1px solid #d8d8d8; */height: auto; text-align: right; font-size: 13px; line-height: 24px;/* margin-top: 10px;*/ padding: 10px 15px; color: #555; }
.paymet_block fieldset p.total em { display: block;color: #ff3b3b; }
.paymet_block fieldset p.total i { display: inline-block; width: 60px; text-align: left; }
.paymet_block .payment_fixed { position: relative; bottom: 0; left: 0; width: 100%; background-color: #f2f2f2; }
.paymet_block .payment_submit { position: relative; margin: 15px; height: 40px; }
.paymet_block .payment_submit dl { display: -webkit-box; display: -moz-box; display: -o-box; display: box; width: 100%; }
.paymet_block .payment_submit dt { width: 8px; }
.paymet_block .payment_submit dd { -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
.paymet_block .payment_btn { background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.paymet_block .payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; color: #fff; }
.paymet_block input.payment_btn { opacity: 0; outline: none; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; margin: 0 auto; }
.paymet_block input.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; color: #fff; }
.paymet_block .contiu_btn { background-color: #fff; border: 1px solid #c62026; color: #c62026; height: 38px; line-height: 38px; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.paymet_block .contiu_btn:hover { background-color: #c62026; border: 1px solid #c62026; color: #fff; }
.paymet_block .payment_submit_bg { background: #fff; margin: 10px 0 0; border-top: #d8d8d8; padding: 15px }
.btn-icon { width: 100%; height: 38px; overflow: hidden; }
.btn-icon a { float: left; display: block; width: 48%; box-sizing: border-box; background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 14px; }
.btn-icon a.cancel-btn { margin-right: 4%; }
.btn-icon a.total_amount { background-color: transparent; border: 0; color: #555555; }
.btn-icon a.total_amount em { color: #c62026; }
.other-payment-box { display: none; }

/*选择层*/
.select-overlay { position: absolute; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); display: none; }
.select-layer { width: 100%; position: fixed; bottom: 0; left: 0; z-index: 99999; background-color: #fff; display: none; }
.select-layer .close_btn { position: absolute; top: 10px; right: 10px; background: url(../../../images/order/close.png) 0 0 no-repeat; background-size: 15px; text-indent: -3000px; display: block; width: 15px; height: 15px; }
.select-layer h3 { color: #000; font-size: 16px; font-weight: normal; padding: 0 15px; height: 39px; line-height: 39px; display: block; width: 100%; box-sizing: border-box; background-color: #f2f2f2; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.select-layer dl { width: 100%;  height: 207px;overflow: hidden;overflow-y: auto; }
.select-layer dl:not(:first-of-type) { display: none; }
.select-layer dd { border-bottom: 1px solid #d8d8d8; height: 39px; line-height: 39px; color: #999; padding: 0 15px; position: relative; }
.select-layer dd a { display: block; font-size: 12px; color: #555; background: url(../../../images/order/radio.png) no-repeat right 0; background-size: 21px; }
.select-layer dd a.cur { background: url(../../../images/order/radio.png) no-repeat right -40px; background-size: 21px; }

.select-layer .prev_btn {position: absolute;top: 12px;left: 10px;background: url(../../../images/prev_btn.png) 0 0 no-repeat;background-size: 15px;text-indent: -3000px;display: none;width: 15px;height: 15px;}
#area_layer h3 { text-align:center;}

/*地区选择层*/
/*#area_overlay { position: absolute; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); display: none; }
#area_layer { width: 100%; height: 200px; position: fixed; bottom: 0; left: 0; z-index: 99999; background-color: #fff; display: none; }
#area_layer .close_btn { position: absolute; top: 10px; right: 10px; background: url(/images/order/close.png) 0 0 no-repeat; background-size: 15px; text-indent: -3000px; display: block; width: 15px; height: 15px; }
#area_layer h3 { color: #000; font-size: 16px; font-weight: normal; padding: 0 15px; height: 39px; line-height: 39px; display: block; width: 100%; box-sizing: border-box; background-color: #f2f2f2; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
#area_layer dl { width: 100%; height: 157px; overflow: hidden; overflow-y: auto; }
#area_layer dl:not(:first-of-type) { display: none; }
#area_layer dd { border-bottom: 1px solid #d8d8d8; height: 39px; line-height: 39px; color: #999; padding: 0 15px; position: relative; }
#area_layer dd a { display: block; font-size: 12px; color: #555; background: url(../../../images/order/radio.png) no-repeat right 0; background-size: 21px; }
#area_layer dd a.cur { background: url(../../../images/order/radio.png) no-repeat right -40px; background-size: 21px; }
*/

/*身份证弹框样式start*/
#overlay1 { position: fixed; z-index: 998; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0,0.5); display: none; }
#popup_box1 { position: fixed; z-index: 999; display: none; background: #fff; min-width: 300px; transform: translate(-50%, -50%); left: 50%; top: 50%; }
#popup_message1 { height: auto; padding: 10px; }
#popup_message1 p { font-size: 12px; line-height: 180%; text-align: left; color: #888; margin-bottom: 5px; }
#popup_title1 { background: #e8e8e8; text-align: left; padding-left: 10px; line-height: 50px; border-radius: 2px; }
#popup_box1 .title_closeBtn { width: 25px; height: 25px; line-height: 25px; text-align: center; position: absolute; font-size: 28px; color: #333; border-radius: 0; background: none; top: 12px; right: 10px; }
#popup_panel1 { margin-top: 10px; }
#popup_content1 button#popup_cancel1, #popup_content1 button#popup_cancel1:hover { background: #fff; color: #c62026; }
#popup_content1 button#popup_cancel1 { height: 28px; line-height: 28px; border: 1px solid #c62026; }
#popup_content1 button { width: 90px; height: 30px; line-height: 30px; font-size: 14px; text-align: center; border-radius: 0; }
#popup_content1 button, #popup_content1 button:hover { background: #de4747; color: #fff; padding: 0; cursor: pointer; font-weight: normal; }
.identification-box { border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; height: 36px; line-height: 36px; color: #999; position: relative; text-align: left; }
.identification-box label { display: inline-block; width: 75px; font-size: 12px; color: #555; }
.identification-box input[type=text] { border: 1px solid #fff; background: rgba(0,0,0,0); height: 24px; width: 190px; z-index: 0; font-size: 12px; }
.paymet_block fieldset.order-box { padding-bottom: 0;/*border-bottom: 1px solid #e5e5e5;*/  }
.paymet_block fieldset.order-box .btn-icon { width: 100%; height: auto; padding: 10px 20px; box-sizing: border-box; background: #fff; border-bottom: 1px solid #e5e5e5;}
.paymet_block fieldset.order-box .btn-icon a { float: right; display: inline-block; width: auto; padding: 0 15px; box-sizing: border-box; box-sizing: border-box; background-color: #fff; border: 1px solid #ccc; height: 38px; line-height: 38px; color: #888; text-align: center; font-size: 12px; }
.paymet_block fieldset.order-box .btn-icon a.cur { margin-left: 10px; border: 1px solid #c62026; color: #c62026; }
.paymet_block fieldset.order-box .btn-icon a.red { margin-left: 10px; background-color: #c62026; border: 1px solid #c62026; color: #fff; }
/*礼品卡列表*/
.gift_cards_list { }
.card_balance { background: #f8f8f8; padding: 20px 20px 15px; border-top: 1px solid #ccc; position:relative; }
.card_balance h2 { color: #888; font-weight: normal }
.card_balance p { color: #c62026; font-size: 20px; margin-top: 5px; }
.card_balance p strong { font-size: 25px; font-weight: normal }
.card_balance .recharge-btn{ position:absolute; right:110px; top:25px; padding:0 15px; line-height:30px; font-size:12px; color:#fff; background:#c62026}
.card_balance .buy-card-btn{ position:absolute; right:20px; top:25px; padding:0 10px; line-height:30px; font-size:12px; color:#fff; background:#c62026}
.content_info { padding-bottom: 8px; }
.anchor { display: block; margin-top: 82px; }
.menu-nav { width: 100%; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; height: 36px; overflow: hidden; }
.menu-nav .tab_info { width: 100%; display: table; font-size: 14px; height: 30px; }
.tab_info li { padding-top: 6px; display: table-cell; height: 24px; line-height: 24px; text-align: center; }
.tab_info li a { display: inline-block; color: #808080; }
.tab_info li.curr a { color: #c62026; padding-top: 1px; border-bottom: 1px solid #c62026; }
.purchase-records-list { padding: 20px; }
.purchase-records-list li { font-size: 13px; line-height: 24px; }
.purchase-records-list li p { float: left; color: #888 }
.purchase-records-list li p strong { color: #2d2d2d; font-weight: normal }
.purchase-records-list li p strong.red { color: #c62026 }
.purchase-records-list li span { float: right; color: #888 }
.purchase-records-list .btn-icon { width: 100%; height: auto; padding: 10px 20px 0; box-sizing: border-box; }
.purchase-records-list .btn-icon a { float: left; display: block; width: 48%; padding: 0 10px; box-sizing: border-box; box-sizing: border-box; background-color: #fff; border: 1px solid #ccc; height: 38px; line-height: 38px; color: #888; text-align: center; font-size: 12px; }
.purchase-records-list .btn-icon a.recharge-btn { margin-right: 4%; }
.line { width: 100%; height: 10px; background: #f6f6f6; border-top: 1px solid #e5e5e5; }
.recharge-records-list { margin-top: 20px; border-top: 1px solid #edecec; }
.recharge-records-list li { width: 100%; line-height: 45px; border-bottom: 1px solid #edecec; font-size: 13px; }
.recharge-records-list li span { display: block; float: left; width: 25%; text-align: center; color: #7d7d7d; padding-left: 5px; box-sizing: border-box; white-space: nowrap; overflow: hidden; }
.recharge-records-list li.first { background: #f8f8f8; }
.consumption-records-box { padding: 20px; }
.consumption-records-box table { width: 100%; border: 1px solid #d4d4d4; font-size: 12px; }
.consumption-records-box table tr td, .consumption-records-box table tr th { height: 45px; padding: 0 5px; text-align: center; color: #888 }
.consumption-records-box table tr th { background: #f8f8f8; font-weight: normal }


/*取消弹框*/
.overlay, .modal .modal-ft { display: -webkit-box; display: -webkit-flex; display: flex; }
.overlay { top: 0; right: 0; bottom: 0; left: 0; z-index: -10; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }
.overlay.active { z-index: 980; position: fixed; background-color: rgba(0, 0, 0, 0.8); }
.modal { -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.modal { width: 292px; height: 159px; background: url(/images/coupon/pop_bg.png) no-repeat; background-size: cover; margin: 0 10px; overflow: hidden; opacity: 0; -webkit-transform: translate3d(0, 0, 0) scale(0.815); transform: translate3d(0, 0, 0) scale(0.815); -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; display: none; }
.modal.modal-in { opacity: 1; -webkit-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }
.modal .modal-hd { text-align: center; line-height: 50px; color: #555; font-size: 17px; }
.modal .modal-bd { padding: 15px; line-height: 1; color: #888; text-align: center; }
.modal .modal-bd strong { color: #c62026; font-weight: normal }
.modal .modal-ft { display: block; text-align: center; line-height: 40px; padding: 0 15px 15px; }
.modal .modal-ft .btn-modal { display: inline-block; background-color: #fff; text-align: center; line-height: 40px; color: #c62026; padding: 0 25px; margin-right: 15px; border: 1px solid #c62026; }
.modal .modal-ft a.enter-active { display: inline-block; background-color: #c62026; text-align: center; line-height: 40px; color: #fff; padding: 0 25px; margin-right: 0; border: 1px solid #c62026; }
.modal .modal-ft a.enter-active:link { color: #fff; }

/*开关按钮*/
.paymet_block fieldset p label.iosCheck { float:right;  display: block; margin:5px 0 0; height:25px; width:auto;}
.paymet_block fieldset p label.iosCheck input {display: none;}
.paymet_block fieldset p label.iosCheck i {display: inline-block;cursor: pointer;padding-right: 25px;transition: all ease 0.2s;-webkit-transition: all ease 0.2s;border-radius: 25px;box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);}
.paymet_block fieldset p label.iosCheck i:before {display: block;content: '';width: 25px;height: 25px;border-radius: 25px;background: white;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}
.paymet_block fieldset p label.iosCheck :checked + i {padding-right: 0;padding-left: 25px;background: #00e970;box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #00e079;}
.paymet_block fieldset p label.iosCheck.blue :checked + i {background: #6cbff0;box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 40px #0093ea;}


.js-invoice-detail{ display:none;}
.js-invoice-address-list{ display:none;}
.js-add-invoice-address{ display:none;}
.js-order-back-btn{ display:none;}
/* 发票信息  */
.select-menu {width:40%;padding: 5px 0;  border:none;font-size:13px;  background: url(../../../images/select_arrow.png) #fff no-repeat 95% center;background-size:13px 8px;}    
.select-menu select { background: transparent;width:40%;font-size:13px;border: 0; height: 26px;line-height: 20px; vertical-align:middle; -webkit-appearance: none; color:#999; outline:none;}  

.select-address{display:block;font-size:9px;color:#888;background:url(../../../images/radio.png) no-repeat right -5px;background-size:21px;}
.cur{background:url(../../../images/radio.png) no-repeat right -45px;background-size:21px;}
.select-address em{font-size:12px;color:#555;}
.other-address{font-size:12px;}
.coupons_tips{padding:0 20px;color:#888;line-height:160%;min-height:80px;}

.paymet_block span.js-addr-info { display: block; padding: 10px 15px; line-height: 20px; border-bottom: 1px solid #d8d8d8; background:#fff }
.paymet_block span.js-addr-info i { display: block; line-height: 30px; }

.add-address-btn{ position:absolute; display:block; right:15px; top:0; display:none;}

.explain{width:auto;padding:0 15px 20px;font-family: "微软雅黑";}
.explain h3{color:#555;font-size:14px;padding:0 0 10px;line-height:200%;font-weight:normal;text-align:center;}
.explain p{font-size:13px;color:#888;line-height:200%;}

.id-tip{border-bottom: 1px solid #d8d8d8;background-color: #fff;height: auto;padding: 10px;position: relative;}
.id-tip > li{color:#888;line-height: 150%;background: url(../../../images/process/pic_warning.png) 0 center no-repeat;background-size:18px;padding:0 15px 0 30px; font-size:12px;}

/*公共弹框样式start*/

#popup_container {width: 200px;background: rgba(0,0,0,.7);color: #fff;}
#popup_message{line-height:40px;padding:0 10px;}


#popup_container.delet-pop{opacity:1; color:#000; font-weight:normal; line-height:1.5; width:280px; font-size: 16px;background: #fff;border: 0;border-radius: 0.3em; box-shadow: rgba(0, 0, 0, 0.4) 0 0.1em 5px;}
#popup_container.delet-pop .title_closeBtn{width:25px; height:25px; line-height:25px; text-align:center; position:absolute; top:5px; right:5px; font-size:28px; color:#333; background:rgba(153,153,153,0.7); border-radius:0.5em; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
#popup_container.delet-pop #popup_content{padding:0; position:relative;}
#popup_container.delet-pop #popup_message{margin:0;height: auto; padding:20px;line-height:1.5; margin-top:20px;}
#popup_container.delet-pop #popup_panel{text-align:left; margin:0; height:60px; text-align:center;}
#popup_container.delet-pop #popup_content button#popup_cancel,#popup_container.delet-pop #popup_content button#popup_cancel:hover {background: #f2f2f2;color: #555;}
#popup_container.delet-pop #popup_content button#popup_cancel {height: 28px;line-height: 28px;border: 1px solid #aaa;}
#popup_container.delet-pop #popup_content button {width: 90px;height: 30px;line-height: 30px;font-size: 14px;text-align: center;border-radius: 2px;}
#popup_container.delet-pop #popup_content button,#popup_container.delet-pop #popup_content button:hover {background: #de4747;color: #fff;padding: 0;cursor: pointer;font-weight: normal;}

/**订单支付成功、取消*/
.payment_block_o{ padding: 45px 15px 20px;}
.payment_block_o{ padding:45px 0 20px}
.payment_block_o i{ display:block; width:65px; margin:0 auto;}
.payment_block_o h2{ font-size:14px; color:#2d2d2d; margin:15px 0 52px; text-align:center;}
.payment_block_o .submit_btn{ color:#fff; font-size:18px; line-height:40px; height:40px; margin:10px 10px 30px; display:block; background:#c62026; text-align:center;}