@charset "utf-8";
body.bg-color{background:#f0f0f0;}
.container {
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto 0;
	font-size:12px;
}

.sendCard_form{
	padding:0 15px;
	background:#fff;
}

.sendCard_form input{
	height:30px;
	line-height:30px;
	background:none;
	border:none 0;
	border-bottom:1px solid #e5e5e5;
	font-size:12px;
	font-weight:normal;
	color:#888;
	text-align:center;
	padding:0 10px;
}

.sendCard_form textarea{
	border:1px solid #e5e5e5;
	box-shadow:none;
	width:94%;
	min-height:80px;
	font-size:12px;
	font-weight:normal;
	color:#d8d8d8;
	line-height:20px;
	padding:10px 3%;
	resize:none;
	outline:none;
}
.sendCard_form h6{
	height:31px;
	line-height:31px;
	padding-top:15px;
	text-align:left;
}
.sendCard_form h6 input, .sendCard_form span input{
	min-width:60px;
	max-width:100px;
}

.sendCard_form p{
	padding-top:15px;
	text-align:left;
}

.sendCard_form span{
	display:block;
	height:31px;
	line-height:31px;
	padding-top:15px;
	text-align:right;
}


.eCard_show{
	padding:50px 55px;
	text-align:center;
}
.eCard_show span{
	display: block;
	font-size:15px;
	line-height:20px;
	padding-top:15px;
	color:#555;
}
.eCard_show a{
	display:inline-block;
	height:40px;
	line-height:40px;
	text-align:center;
	min-width:100px;
	padding:0 10px;
	margin-top:15px;
	background-color:#c62026;
	color:#fff;
	font-size:18px;
}

/*赠送他人start*/
.eCard_message{
	padding:20px 15px 0;
	overflow:hidden;
}
.eCard_message h6, .eCard_message span{
	color:#2d2d2d;
	line-height:15px;
}
.eCard_message h6{
	padding-bottom:10px;
}

.eCard_message p{
	color:#555;
	line-height:18px;
	text-indent:24px;
}

.eCard_message span{
	float:right;
	display: block;
}

.eCard_introduction{
	padding:15px;
}

.eCard_introduction dt, .eCard_introduction dd{
	color:#999;
	line-height:20px;
}
/*赠送他人end*/

.results-box .m_l_r{ margin:0 30px;}
/*按钮样式*/
.btn-icon{ width: 100%; height: auto; padding: 10px 10px 0 0; box-sizing: border-box; }
.btn-icon a { float: left;background:#fff; display: block; width: 50%; box-sizing: border-box; border: 1px solid #c62026; height: 40px; line-height: 40px; color: #c62026; text-align: center; font-size: 16px; }
.btn-icon a:nth-child(2){ margin-right:-10px; float:right;}
.btn-icon a.bg_btn{background-color: #c62026; color:#fff; border: 1px solid #c62026;}

/*input样式*/
.yzm-box { display: -webkit-box; }
.yzm-box > .login_list { -webkit-box-flex: 2; overflow: hidden;position: relative; }
.yzm-box > .login_list input { background: #fff; width: 100%;  border:1px solid #d8d8d8;padding:0 10px; box-sizing:border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); line-height: 30px; outline: none;font-size: 12px; }
.yzm-box > em { -webkit-box-flex: 1; display: block;background: #fff; width: 100px; height: 30px; border:1px solid #d8d8d8; margin-left: 10px; line-height: 30px;  text-align: center; color: #888 }
.yzm-box > .get_code{border:1px solid #c62026; color:#c62026;}
.yzm-box > .no_select{ background:#d8d8d8;border:1px solid #d8d8d8; color:#555;}

.text_con{ color:#888; font-size:12px; line-height:22px;}
.title_h6{ margin:10px 0; display:block;}
.f_red{ color:#c62026;}

.results-box{ font-size:12px; padding:45px 15px 20px}
.results-box i{ display:block; width:65px; margin:0 auto;}
.results-box h2{ font-size:15px; color:#555; margin:10px 0 60px; text-align:center; line-height:24px;}
.results-box p{ color:#888; font-size:13px; line-height:22px;}
.results-box .text_btn{ display:block; width:100px; float:right; line-height:25px; color:#888;text-align:right; margin:5px 0;}
.results-box .text_key{ margin:24px 0 0; font-size:12px; text-align:center;}
.results-box .text_key em{ color:#2d2d2d;}

/*验证口令*/
.giftCard_verify{ padding:2px 15px 0;}
.giftCard_verify .yzm-box{ margin:14px 0 0 0;}
.giftCard_verify .text_box{ color:#888; margin-top:10px; font-size:12px; line-height:20px;}
.giftCard_verify #code_tip{ display:none;}
.giftCard_verify .f_red{ color:#c62026;}
.giftCard_verify .chose_btn {
  width:100%;
  color: #fff;
  font-size: 18px;
  line-height: 45px;
  height: 45px;
  margin: 75px 0 30px;
  display: block;
  background: #c62026;
  text-align: center;
}
.giftCard_verify .text_tip{ color:#c62026; font-size:12px; margin-top:5px; margin-bottom:-5px;  -webkit-transition: all ease 0.5s;  transition: all ease 0.5s;  height: 0;  overflow: hidden;  line-height: 20px;}

/*礼品卡登录*/
.giftCard-login-box{ color:#888; line-height:24px; font-size:12px;}
.giftCard-login-box .btn-icon{ padding-top:22px;}
.giftCard-login-box span.title_tip{ margin-top:20px; display:inline-block;}

/*选择背景图片*/
.select_img_box{ padding:10px 15px 30px;background:#fff; }
.select_img_box .chose_img{
	background: url(../../../images/giftcard/img_icon.png) no-repeat 0 4px;
	background-size:20px 15px;
	color:#2d2d2d; font-size:12px;line-height:25px; padding-left:25px;}
.chose_img span{ display:inline-block;}
.chose_img::after{
	content:"";
	background: url(../../../images/giftcard/triangle_down_icon.png) no-repeat 0 9px;
	display:inline-block;
	height:25px;
	width:14px;
	line-height:25px;
	background-size:9px 5px;	
	margin-left:5px;
	vertical-align:middle;
	
}
select_img_box .chose_img_list{ margin-left:-2px;}
.chose_img_list li{ 
	width:25%; 
	padding-left:2px; 
	margin-top:5px; 
	float:left; 
	box-sizing:border-box;
	position:relative;
}
.chose_img_list .cur::after{
	content:"";
	display:block;
	width:13px; 
	height:13px;
	background:url(../../../images/giftcard/chose_on.png) no-repeat center center;
	background-size:cover;
	position:absolute; 
	right:2px;
	bottom:2px;	
}

.select_box{ background:#fff; padding:10px 15px 0; margin-top:8px;}
.input_box input{ border:none; outline:none; font-size:12px; color:#d8d8d8; display:inline-block; height:25px; vertical-align:top; }
.input_box input#mbNumber{ padding-right:80px;}
.input_box { border:1px solid #e5e5e5; padding:5px 10px 1px 8px; margin-bottom:10px;}
.input_box i.mobile_icon{
	background:url(../../../images/giftcard/tel_icon.png) no-repeat center center; 
	background-size:12px 21px;
	display:inline-block;
	height:25px;
	width:12px;
	margin-right:5px;
}
.tip_text{ padding-bottom:15px;}
.submit_btn{ color:#fff; font-size:18px; line-height:45px; height:45px; margin:10px 15px 30px; display:block; background:#c62026; text-align:center;}


/*弹出层*/
.select-overlay {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position:fixed;
  z-index: -10;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
}
.active{ position:fixed; z-index:9999; background-color: rgba(0,0,0,.6);}
.active .show_window_con{ display:block;}
.show_window_con{
	width:284px;
	height:auto;	
	text-align:center;
	background-color:#f9f9f9;
	color:#000;
	padding:5px 0;
	border-radius:10px;
	z-index: 99999;
	display:none;
}
.show_window_con h3{ font-size:17px; line-height:20px; margin:10px 0; padding:0 15px;}
.show_window_con > div{ font-size:13px; line-height:20px; margin:10px 0;padding:0 15px; color:#000;}
.show_window_con .close_window{ border-top:1px solid #474747; font-size:16px; line-height:30px;  color:#007aff; box-sizing:content-box; padding-top:5px;}

/*预览页面样式*/
.giftCard_preview_box{ background:#fff; color:#888; height:auto; max-width:640px; width:100%; margin:auto;}
.giftCard_preview_box > div{ height:100%;}
.giftCard_preview_box .page_box1{ height:100%;
	background:url(../../../../images/giftcard/gift_card_bg_01.jpg) no-repeat center center;
	background-size:cover; 
	position:relative;
}
.page_next{ width: 75px; height:41px; position:absolute; bottom:20px; left:50%; z-index:999;/* margin-left:-37px;*/}
.page_next{-webkit-transform:translateX(-50%); transform:translateX(-50%);-webkit-animation: tipmove 1.8s infinite ease-in-out 1s;}
@-webkit-keyframes tipmove{
	0%{bottom:10px;opacity:0}
	50%{bottom:15px;opacity:1}
	100%{bottom:20px;opacity:0}
}

.wishes_box{ font-size:12px; color:#2d2d2d; line-height:16px; margin:0 auto; max-width:640px;
	width:100%; height:100px; overflow:hidden;
	position:absolute;
	top:53%;
}
.wishes_box > img{ width:100%; position:relative; top:0; left:0; z-index:1;}
.wishes_box > div{ width:100%; position:relative; top:0; z-index:2; padding: 0 20%;  box-sizing: border-box;word-wrap: break-word;}
.sign_con{ text-align:right; padding-top:10px;}
.giftCard_preview_box .page_box2{ overflow-y:auto; padding:0 15px; box-sizing:border-box;}
.giftCard_preview_box .page_box2 .img_box{ padding:0 40px; text-align:center;}
.page_box2 .img_box img{ width:100%;}
.img_box a{  
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	min-width: 100px;
	padding: 0 10px;
	margin-top: 15px;
	background-color: #c62026;
	color: #fff;
	font-size: 18px;
}
.page_box2 .title_h6{ margin:25px 0 5px;}

/*优惠券提示页*/
.coupon-box{ padding:45px 10px 20px;}
.coupon-box h2{
	margin-bottom:30px;
}
.coupon-box .btn-icon{ padding-top:24px;}
.coupon-box .title_tip{ color:#888; line-height:22px; margin-top:20px; display:inline-block}
.coupon-list-box{ margin-top:10px;}




.coupon_list { }
.coupon_list li { position: relative; background: #fff; border: 1px solid #fff; height: 121px; margin-bottom: 10px; }
.coupon_list li.cash {border: 1px solid #f06535;}
.coupon_list li.sale {border: 1px solid #e3406e;}
.coupon_list li h4 { position: absolute; left: -2px; top: -2px; z-index: 2; }
.coupon_list li div { text-align: center; vertical-align: top; margin: 0 75px 0 14px; }
.coupon_list li div i { font-size: 22px; line-height: 30px; color: #000; }
.coupon_list li div em { display: block; font-size: 14px; color: #555; border-bottom: 1px solid #e0e0e0; padding: 0 0 5px; }
.coupon_list li div span { display: block; text-align: left; color: #888; font-size: 12px }
.coupon_list li div span strong { display: block; text-align: left; line-height: 24px; font-size: 14px }
.coupon_list li p { position: absolute; right: 0; top: 0; }
.coupons_tips { color: #888; line-height: 160%; min-height: 80px; font-size: 12px; }
