@charset "utf-8";
body { background: #fff; }
.container{ max-width:640px; margin:0 auto;}

input,button,a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*商品列表公共样式*/
.alContent .pord_info{  line-height: 39px; color: #999; position: relative; }
.alContent .pord_info a { display: block; padding: 10px 0; }
.alContent .pord_info img { float: left; margin: 0 15px; }
.alContent .pord_info ins { margin-left: 5px; text-decoration: none; line-height: normal; float: left; }
.alContent .pord_info i { color: #2d2d2d; font-size: 12px; line-height: 16px; display: block; width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 5px; }
.alContent .pord_info i > span{display: inline-block; margin-left: 5px;margin-top: 2px;vertical-align: top; float:right;}
.alContent .pord_info i > span img{ margin:0}
.alContent .pord_info em { display: inline-block; line-height: 16px; height: 16px; color: #888; font-size: 12px; width: 100px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; }

.alContent .f-black{ color:#2d2d2d;}
.return-form{ font-size:12px;}
.return-form .return-title{ line-height:20px; color:#2d2d2d; font-size:12px; font-weight:normal; padding:8px 15px; background:#f6f6f6;}
.return-form .return-title em{ display:block; font-size:11px; color:#888;}
.return-form .selected{ color:#888;line-height:20px; padding:8px 15px;}
.return-form em,.return-form span{ line-height:inherit; display:inline-block;}
.return-form .selected a{ color:#888; display:block; }
.return-form .selected a.f-black{ color:#2d2d2d;}
.return-form .selected .select_choose{ 
	background:url(../../../images/return_goods/arrow_r.png) no-repeat right center;
	background-size:7px 12px;
	color:#a9a9a9;
	padding-left:3px;
}
.return-form .selected .box-block{ display:box; display:-webkit-box;}
.return-form .selected .box-child{ box-flex:1; -webkit-box-flex:1; -webkit-flex:1;} 
.return-form .user_info{ padding:0 0 0 15px;line-height:24px;}
.return-form .user_info input{border:none; padding-left:3px; color:inherit; display:block; width:100%; font-size:12px; line-height:inherit;}
.return-form .user_info li{   
	display: -webkit-box;
	display: box;
	box-sizing:border-box;
	width: 100%;
	border-bottom:1px solid #e5e5e5;
	line-height:inherit;
	padding:6px 15px 6px 0;
	position:relative;
}
.return-form .user_info li:last-child{ border:none;}
.return-form .user_info li .lable{ width:60px; display:block;}
.return-form .user_info li > span{ color:#2d2d2d; display:block; -webkit-box-flex: 1; box-flex: 1;}
.return-form .user_info li > time{ position: absolute;right: 15px;top: 8px;}
.return-form .t-border{border-top: 1px solid #e5e5e5;}
.return-form .title-h5{ font-weight:normal; margin-top:5px; display:block; color:#555;}
.return-form .payment-submit {
  position: relative;
  padding: 20px;
  height: 40px;
  border-top: 1px solid #e5e5e5;
}
.return-form .payment-btn {
  background-color: #c62026;
  height: 38px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
}
.return-form .no-submit{
	color:#555; background:#d8d8d8;	
}
.return-form input.payment-btn {
  opacity: 0;
  outline: none;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}


/*退货原因弹出层样式*/
.region-picker-wrapper {
  	height: 220px;
  	position: absolute;
  	background-color: white;
  	width: 100%;
  	/*margin-top: -44px;*/
	z-index:99999;
}
.region-picker-wrapper .header {
  	height: 40px;
}
.region-picker-wrapper .bar-header {
  	border: none !important;
  	background-image: none;
  	background-color: #f6f6f6;
}
.region-picker-wrapper .body {
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flexbox;
  	display: flex;
  	height: 180px;
  	width: 100%;
  	position: absolute;
  	background-color: white;
}
.region-picker-wrapper .body .select-zone {
  	pointer-events: none;
  	position: absolute;
  	width: 100%;
  	display: block;
  	z-index: 1100;
  	background: #fff;
  	opacity: 0.5;
}
.region-picker-wrapper .body .select-zone.top {
		height: 60px;	
}
.region-picker-wrapper .body .select-zone.middle {
  	background: none;
  	background-color: none;
  	top: 60px;
  	border-top: solid #d1d1d1 1px;
  	border-bottom: solid #d1d1d1 1px;
  	height: 36px;
}
.region-picker-wrapper .body .select-zone.bottom {
		height: 100px;
		top: 98px;
}
.region-picker-wrapper .body .region-picker {
	width:50%;
  	position: relative;
  	-webkit-box-flex: 1;
  	-webkit-flex: 1 1 0;
  	-moz-box-flex: 1;
  	-moz-flex: 1 1 0;
  	-ms-flex: 1 1 0;
  	flex: 1 1 0;
  	float: left;
  	height: 180px;
  	overflow: hidden;
}
.region-picker-wrapper .body .region-picker li {
	height: 36px;
  	overflow: hidden;
  	background-color:transparent;
  	line-height: 36px;
  	font-size: 14px;
  	text-align: center;
}
.bar .button {
	position: relative;
  	z-index: 1;
  	padding: 0 10px;
  	font-weight: 400;
  	line-height: 40px;
	height:40px;
  	border-radius: 2px;
  	vertical-align: top;
  	text-align: center;
  	text-overflow: ellipsis;
  	font-size: 14px;
	cursor: pointer;
	background-color:transparent;
	border:none;
	outline:none;	
}

.bar > .button:last-child{
  position: absolute;
  top: 7px;
  right: 10px;
}
.region-picker-wrapper .bar-header .button, .region-picker-wrapper .bar-header .title {
  font-size: 14px;
}
.region-picker-wrapper .bar-header .button-positive {
  color: #c62026;
  border:1px solid #c62026;
  padding:0 10px;
  line-height:25px;
  height:25px;
}
.bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-size: 0;
}
.region-picker-wrapper .body .region-picker .UIPickerView-wrapper {
  	position: relative;
  	z-index: 999;
  	display: block;
  	height: 105px;
  	overflow: hidden;
	margin-top:25px;
}
.region-picker-wrapper .body .region-picker .UIPickerView-wrapper .UIPickerView-deptch {
  	height: 100%;
  	padding-top: 35px;
  	background-color: #fcfcfc;
}
.region-picker-wrapper .body .region-picker .UIPickerView-frame {
	pointer-events: auto;
	position: absolute;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-width: 16px;
}
.control{display: none;}
.visibility-control{visibility: hidden;}

/*遮罩蒙版*/
.select-overlay{
  position: absolute;
  z-index: 99998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  display: none;
}

/*公共弹框样式start*/
#popup_container {
	width: auto;
	min-width: 200px;
	max-width: 200px;
	height:40px;
	min-height: 40px;
	max-height: 40px;
	background: rgba(0,0,0,.7);
	color: #fff;
}
#popup_message{
	min-height: 40px;
	line-height:40px;
	padding:0 10px;
}
#popup_content button{
	border: 1px solid #c62026;
	background:#c62026;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	margin:0 auto;
	border-radius:2px;
	cursor: pointer;
}
#popup_content button:hover{
	background:#c62026;
	color:#fff;
}
/*公共弹框样式end*/
/*****************提交成功页面样式**************************/
.return_sucess_info{
	background:url(../../../images/return_goods/return_sucess_icon.png) no-repeat center 116px;
	background-size:57px 59px;
	padding:176px 0 0 0;	
	font-size:14px;
	line-height:22px;
	color:#888;
	text-align:center;
}
.return_sucess_info p{ padding:13px 40px 20px;}