@charset "utf-8";
/* CSS Document */
a:hover, a:active{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.turntable { width: 320px; margin: 0 auto; position: relative; height:460px; overflow: hidden;background: #dc2c2c}
#turntable_bg, #turntable_img, #turntable_btn { position: absolute; top: 0; left: 0; }
#turntable_bg { z-index: 1; }
#turntable_img {z-index: 2;	top: 165px;	left: 48px;}

.about{height:328px;}
.about .about_txt{z-index: 2;  position: absolute; top: 158px; left: 23px; line-height:18px; font-size:12px; color:#2d2d2d; padding:16px 0; width:280px;}
.about .about_txt span{color:#d5002b;}

.turntable .rule_link{position:absolute; top:80px; left:5px; width:100px; height:50px; display:block; z-index:100;}

#turntable_btn { z-index: 3; top: 206px; left: 116px; cursor: pointer; -webkit-touch-callout: none; background: url(../../../images/201408lottery/turntable_btn_03.png) no-repeat 0 0; width: 90px; height: 112px; background-size: 100%; }

.con {width: 320px; margin: 0 auto; padding: 0; line-height:2; position:relative; background-color:#db0540;}
.con ul{padding: 0;}
.con h1{color: #fff;text-align: center;margin-top: 10px;}
.con dl{position: absolute; top: 40px; width: 170px; overflow: hidden;}
.con dd { padding: 14px; }
.con dd.lottery_list{height:200px; overflow:hidden; padding:0 0 0 15px;}
.lottery_list li{position:relative;}
.lottery_list span{position:absolute; right:0; top:0; line-height:28px;}

.con img.prize{position:absolute; left:40px; top:30px; z-index:2;}
.con a.share_btn{width: 150px; background:url(../../../images/201408lottery/link_btn04.png) no-repeat 0 0;height: 43px; text-indent:-9999px; background-size:100%; position:absolute; left:86px; top:245px; z-index:2;}

.con .pic_game{width:140px; height:140px; border:1px solid #ffac03; position:absolute; top:45px; right:12px;}
.con .pic_game li{width:69px; height:69px; line-height:70px; border-right:1px dashed #ffac03; border-bottom:1px dashed #ffac03; float:left; text-align:center; color:#ffac03; font-size:24px; background-position: 0 0; background-repeat:no-repeat; background-size:100%; background-color:#fff;}
.con .pic_game li:nth-child(2n){border-right:none 0; width:70px;}
.con .pic_game li:nth-child(3), .con .pic_game li:nth-child(4){border-bottom:none 0;}
.con .pic_game li.pic01{background-image:url(../../../images/201408lottery/pic01.jpg);}
.con .pic_game li.pic02{background-image:url(../../../images/201408lottery/pic02.jpg);}
.con .pic_game li.pic03{background-image:url(../../../images/201408lottery/pic03.jpg);}
.con .pic_game li.pic04{background-image:url(../../../images/201408lottery/pic04.jpg);}

.con .pic_notice{width:140px; height:70px; position:absolute; bottom:20px; right:12px;}
.con .pic_notice p{text-align:center; font-size:12px; color:#333; line-height:160%;}
.con .pic_notice p.suceess{color:#d5002b; display:none;}
.con .pic_notice p.suceess a{display:block; width:133px; height:43px; overflow:hidden; background:url(../../../images/201408lottery/link_btn01.png) no-repeat 0 0; background-size:100%; margin:10px auto 0;}

#popLayer{width:100%; height:743px; background:rgba(0,0,0,.75); position:absolute; top:0; left:0; z-index:10000; color:#fff;}
#popLayer ul{width:270px; margin:10px auto 0;}
#popLayer h2{padding:20px 0;}
#popLayer li{padding-left:30px; line-height:24px; background-position:2px 3px; background-repeat:no-repeat; background-size:16px;}
#popLayer li:nth-child(2){background-image:url(../../../images/201408lottery/dot01.png);}
#popLayer li:nth-child(3){background-image:url(../../../images/201408lottery/dot02.png);}
#popLayer li:nth-child(4){background-image:url(../../../images/201408lottery/dot03.png);}
#popLayer li:nth-child(5){background-image:url(../../../images/201408lottery/dot04.png);}
#popLayer li em{color:#ffe9c7;}
#popLayer #pop_btn{display:block; width:133px; height:43px; overflow:hidden; background:url(../../../images/201408lottery/link_btn02.png) no-repeat 0 0; background-size:100%; margin:40px auto 0;}


#popup_container{opacity:1; color:#000; font-weight:normal; line-height:1.5; width:250px; min-width:250px; background-color:#d5002b; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
#popup_content{padding:0; margin:8px; background-color:#fcf4eb; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
#popup_message{height:auto; margin:0;  padding:20px 8px 10px;}
#popup_message h3,#popup_message p{ text-align:left; text-shadow:none; color:#2d2d2d;}
#popup_container h3{text-align:center;}
#popup_message p{font-size:12px; line-height:20px; min-height:70px;}
#popup_container p span{ color:#d5002b;}

#popup_panel{text-align:center; margin:0; height:50px; padding:10px 0;}

#popup_content button{width: 133px; height: 43px; text-indent:-9999px; background-position:0 0; background-repeat:no-repeat; background-size:100%; border:0 none; outline:none 0;}
#popup_content button:hover, #popup_content button:active{background-position:0 0; background-repeat:no-repeat; background-size:100%; border:0 none; outline:none 0;}
#popup_container.success #popup_content button{background-image:url(../../../images/201408lottery/link_btn03.png);}
#popup_container.faid #popup_content button{background-image:url(../../../images/201408lottery/link_btn05.png);}
#popup_container.over #popup_content button{width: 150px; background-image:url(../../../images/201408lottery/link_btn04.png);}

