@charset "utf-8";
/* CSS Document */

#J_m-slider{width:320px;height:312px;margin:0 auto;overflow:hidden;padding:10px 0 0 0;position:relative;}
#J_m-slider .slider-outer{width:320px;height:292px;overflow:hidden;position:relative;}
#J_m-slider ul{width:1600px;height:292px;position:absolute;left:0;top:0;}
#J_m-slider ul li{width:320px;height:292px;overflow:hidden;float:left;}
#J_m-slider .slider-status{width:100%;height:10px;bottom:10px;left:0;text-align:center;}
#J_m-slider .slider-status span{display:inline-block;width:6px;height:6px;background-color:#707070;;border-radius:3px;line-height:3px;cursor:pointer;margin:0 5px 0 0;}
#J_m-slider .slider-status span.sel{background-color:#ccc;}



.tagMenu{height:42px;line-height:42px; padding:10px 0 4px; width:320px; margin:0 auto;}
.tagMenu ul{display:-webkit-box; display:-moz-box; display:box; width:100%;}
.tagMenu li{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;border-right:1px solid #fff;}
.tagMenu li:first-child{background-color:#a186be;}
.tagMenu li:nth-child(2){background-color:#7accc8;}
.tagMenu li:last-child{border-right:0;background-color:#f49ac1;}
.tagMenu li a{display:block;height:42px;line-height:42px;overflow:hidden;color:#fff; font-size:20px;}



.alIndex_list{width:100%; clear:both;}
.alIndex_list header{height:30px;line-height:30px;width:100%;background:#f7f7f7;border-bottom:1px solid #e4e4e4;}
.alIndex_list header a{display:block;color:#000;padding-left:18px;}

.alIndex_list .todayList{margin:15px auto 0; font-size:0; width:320px; letter-spacing:-4px; border-bottom:1px solid #e4e4e4;}
.alIndex_list .todayList li{width:80px;vertical-align:top;margin:0 14px 10px; display:inline-block; overflow:hidden; letter-spacing:normal; font-size:14px;}
.alIndex_list .todayList li:nth-child(3n){margin:0 0 10px 14px;}
.alIndex_list .todayList li a{display:block;}
.alIndex_list .todayList li img{width:80px; height:105px;}
.alIndex_list .todayList li p{text-align:center; color:#000; margin-top:10px; height:30px; line-height:30px;}

.alIndex_list .brandList{margin:15px auto 0; font-size:0; width:320px; letter-spacing:-4px; padding-bottom:10px;}
.alIndex_list .brandList li{width:60px;vertical-align:top;margin:0 0 11px 16px; display:inline-block; overflow:hidden; letter-spacing:normal;}
.alIndex_list .brandList li a{display:block;}
.alIndex_list .brandList li a.more{width:60px; height:42px; line-height:42px; background-color:#e4e4e4; color:#000; font-size:12px; text-align:center;}
.alIndex_list .brandList li img{width:60px; height:42px;}

.alIndex_list .activeList{margin:15px auto 0; font-size:0; width:320px; letter-spacing:-4px; padding-bottom:10px;}
.alIndex_list .activeList li{width:138px;vertical-align:top;margin:0 0 11px 15px; display:inline-block; overflow:hidden; letter-spacing:normal;}
.alIndex_list .activeList li a{display:block;}
.alIndex_list .activeList li img{width:138px; height:103px;}
