@charset "utf-8";
/* CSS Document */
.main_box{
	width:100%;
	max-width:640px;
	min-width:320px;
	margin:0 auto;
}
.main_box a{
	display:block;
	width:100%;
}
.main_box img{
	display:block;
	width:100%;
}

.top_img{
	width:100%;
	display:block;
	min-width:167px;
	max-height:334px;
	padding-bottom:10px;
}
.prod_list{
	padding:10px 20px 0 10px;
}
.prod_list li{
	float:left;
	width:50%;
	margin-bottom:10px;
}
.prod_list li:nth-child(2n){
	float:right;
	margin-right:-10px;
}

.main_box h2{
	width:100%;
}
.category_box{}

#loading{width:320px; margin:10px auto; text-align:center;}
#loading img{ display:inline-block;}
#loading p{ line-height:20px; font-size:14px;}


/*右侧导航*/
.nav_more{
	width:50px;
	height:auto;	
	z-index:101;
}
.nav_more span{
	display: block;
	width:50px;
	height:50px;
	background:url(/images/2014Thanksgiving/pic_arrow_new.png) 0 0 no-repeat;
	cursor:pointer;
	position:fixed;
	right:0;

}
.nav_more span.nav_top{
	background-size:50px;
	margin-top:10px;
	display:none;
	bottom:50px;
}

/*底部导航*/
.footer_nav{
	max-width:640px;
	min-width:320px;
	position:fixed;
	bottom:0;
	left:0;
}
.footer_nav a{
	float:left;
	width:50%;
}
.footer_nav a:nth-child(2n){
	float:right;
}
.footer_nav a img{
	width:100%;
	display:block;
}