@charset "utf-8";
/* CSS Document */
.main_flex,.main_flex ul{
	width:100%;
	max-width:640px;
	min-width:320px;
	margin:0 auto;
}
.main_flex ul  {
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
}
.main_flex ul li {
-webkit-box-flex: 1;
-ms-flex: 1;
-webkit-flex: 1;
flex: 1;
} 
.main_flex a,.main_flex img{
	display:block;
	width:100%;
}

