@charset "utf-8";
/* CSS Document */

.detail_block{width:100%; clear:both;}
.detail_block header{height:auto; line-height:30px; border-bottom:1px solid #dbdbdb; padding:0 10px;}
.detail_block header h3{padding:0 30px 0 10px; color:#333; font-weight:normal; line-height:120%; font-weight:700; font-size:14px; padding:10px 0 0 0;}
.detail_block header h3 em{font-weight:normal; font-size:14px; display:block;}
.detail_block header span{display:block; color:#666; font-size:12px;}

#J_m-slider{width:320px;height:320px;margin:0 auto;overflow:hidden;position:relative;padding:10px 0 0 0;}
#J_m-slider .slider-outer{width:225px;height:300px;overflow:hidden;position:relative;margin:0 auto;}
#J_m-slider ul{width:1600px;height:300px;position:absolute;left:0;top:0;}
#J_m-slider ul li{width:225px;height:300px;overflow:hidden;float:left;}
#J_m-slider .slider-status{width:100%;height:10px;bottom:10px;left:0;text-align:center;}
#J_m-slider .slider-status span{display:inline-block;width:6px;height:6px;background-color:#a9a9a9;;border-radius:3px;line-height:3px;cursor:pointer;margin:0 5px 0 0;}
#J_m-slider .slider-status span.sel{background-color:#98000d;}
#J_m-slider .pg-btn{width:37px;height:300px;line-height:300px;text-indent:-9999px;background:url(../../images/index/icon-slide-next.png) no-repeat center center; position:absolute; top:0px;}
#J_m-slider .pg-btn a{display:block;width:37px;height:300px;text-align:center;}
#J_m-slider .prev{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); left:0;}
#J_m-slider .next{right:0;}

.alProdInfo{background:#f1f1f1; padding:10px;}
.alProdInfo dl{display:block;}
.alProdInfo dt, .alProdInfo dd{display:block; vertical-align:middle;}
.alProdInfo dt{line-height:35px; color:#666; width:100%;}
.alProdInfo dd{padding:0 0 0 15px; color:#c00808; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.alProdInfo dd del{color:#999;}
.alProdInfo .fillColor{padding:5px 0 5px 15px;}
.alProdInfo .fillColor span{width:36px; height:36px; display:inline-block; border:1px solid #686868; margin:0 10px 5px 0; overflow:hidden; position:relative;}
.alProdInfo .fillColor span img{border:1px solid #fff; vertical-align:top;}
.alProdInfo .fillColor span i{display:block; width:12px; height:12px; position:absolute; right:1px; bottom:1px; display:none;}
.alProdInfo .fillColor span i img{display:block; float:left; border:none;}
.alProdInfo .fillColor span.cur{border:1px solid #B9966A;}
.alProdInfo .fillColor span.cur img{border:1px solid #B9966A;}
.alProdInfo .fillColor span.cur i{display:block;}
.alProdInfo .fillColor span.cur i img{border:none;}
.alProdInfo .fillSize{padding:5px 0 5px 15px;}
.alProdInfo .fillSize span{min-width:36px; height:36px; background:#fff; color:#000; font-weight:normal; line-height:36px; text-align:center; display:inline-block; border:1px solid #adadad; margin:0 10px 5px 0; overflow:hidden;}
.alProdInfo .fillSize span a{color:#000; display:block; border:1px solid #fff; height:34px; line-height:34px; position:relative;}
.alProdInfo .fillSize span a i{display:block; width:12px; height:12px; position:absolute; right:0; bottom:0; display:none;}
.alProdInfo .fillSize span i img{display:block; float:left;}
.alProdInfo .fillSize span.cur{border:1px solid #B9966A;}
.alProdInfo .fillSize span.cur a{border:1px solid #B9966A;}
.alProdInfo .fillSize span.cur a i{display:block;}
.alProdInfo .fillNumber select{height:28px; line-height:28px; width:60px; text-align:center; border:1px solid #ccc; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; -webkit-border-radius:0px; border-radius:0px;}
#alProdInfo{line-height:35px; padding:5px 0;}
.alProdInfo .size_link{color:#00f; display:block; line-height:30px;}


.alProdInfo .alBuy_btn{width:100%; text-align:center;}
.alProdInfo .alBuy_btn dd{padding:0;}
.alProdInfo .alBuy_btn a{height:43px; display:block; line-height:43px; margin:0 30px 10px; background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#c22323),color-stop(0.5,#b91d1d),color-stop(1,#ae1616)); background:-moz-linear-gradient(top, #c22323, #b91d1d 50%, #ae1616 100%); background:-o-repeating-linear-gradient(top, #c22323, #b91d1d 50%, #ae1616 100%); border:1px solid #de7f7f; -webkit-border-radius:5px; border-radius:5px; text-align:center; color:#fff; font-size:16px;}
.alProdInfo .alBuy_overbtn a{background: -moz-linear-gradient(top, #c3c3c3, #959595 100%); background:-o-repeating-linear-gradient(top, #c3c3c3, #959595 100%); background:-webkit-gradient(linear,left top,left bottom,from(#c3c3c3),to(#959595)); border:1px solid #ccc;}
.alProdInfo .alShareBtn{text-align:right; padding:0; width:100%;}
.alProdInfo .alShareBtn dd{padding:0 10px 0 0; height:35px; line-height:35px;}
.alProdInfo .alShareBtn dd img{vertical-align:text-top;}
.alProdInfo .alShareBtn a{display:block; color:#666;}

.alProd_intro{border-top:2px solid #dd0017;}
.alProd_introMenu{height:38px;line-height:38px;background:#fff;border-bottom:1px #ccc solid;}
.alProd_introMenu ul{display:-webkit-box; display:-moz-box; display:box; width:100%;}
.alProd_introMenu li{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;border-right:1px #ccc solid;}
.alProd_introMenu li:last-child{border-right:0;}
.alProd_introMenu li.cur{font-size:14px;position:relative;background-color:#f1f1f1;}
.alProd_introMenu li a{display:block;height:38px;line-height:38px;overflow:hidden;color:#000; font-size:14px;}
.alProd_introMenu li.cur a{color:#000;}
.alProd_introCell{padding:10px;}
.alProd_introCell h1{font-size:14px; line-height:40px; margin:5px 0;}
.alProd_introCell p{color:#666; line-height:160%;}