body { width: 100%; background: #fff; }
.topFix { max-width: 640px; margin: 0 auto; }
.wapper { width: 100%; min-width: 320px; max-width: 640px; margin:0 auto; background: url(../../../images/star-packet/20151020/bg1.jpg) no-repeat top center; background-size: 100% auto }
.wapper1 { width: 100%; min-width: 320px; max-width: 640px; margin:0 auto;}
.main { min-height: 420px; position:relative; overflow-x:hidden }
.main img { max-width: 100% }
.main h2{ text-align: center; padding: 20px 10% 0; }

/*红包首页*/
.form-box { padding: 15px; line-height: 24px; color: #2d2d2d; margin: 65% 15px 2%; background:rgba(0,0,0,0.7); position:relative;}
.form-box  strong { color: #c62026; font-weight: normal }
.form-box .prompt { font-size: 12px; color: #FFFFFF; padding: 0 3px;-webkit-transition:all ease 0.5s; transition:all ease 0.5s; height:0; overflow:hidden; line-height:20px; }
.form-box .tip-input { display: block; border: 1px solid #5c5c5c; border-radius:5px; width: 100%; line-height: 38px; padding: 0 10px; box-sizing: border-box; margin-bottom: 10px; font-size: 16px }
.form-box .red-icon { width:76px; height:89px; position:absolute; top:-74px; left:-15px; z-index:99; }

/*手机验证码*/
.yzm-box { display: -webkit-box;}
.yzm-box .login_list { -webkit-box-flex: 8; overflow: hidden; position: relative; }
.yzm-box .login_list input { background: #fff; border: 1px solid #5c5c5c; border-radius:5px; width: 100%;padding: 0 10px; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); line-height: 38px; outline: none; font-size: 16px; }
.yzm-box > em { -webkit-box-flex: 2; display: block; background: #fff; width: 130px; height: 38px; background:url(../../../images/star-packet/20151020/codeBtn_bg.png) repeat-x center center; border-radius:5px; margin-left: 10px; line-height: 38px; text-align: center; color: #c62026; font-size: 16px; }
.yzm-box > em.btn_gradient_gray{background:#f4f4f4;border-color:#e9e9e9;color:#999}

/*中奖信息*/
.sroll-text { height: 72px; overflow: hidden; margin: 10px 15px 15px; background:#fff; padding:5px 0;  }
.lottery_list { height: 72px; overflow: hidden; }
.lottery_list li { position: relative; background:#fff; padding:0 15px;line-height: 24px; border-bottom:1px solid #fff4eb; color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 11px; }
.lottery_list li span{ display:inline-block; float:right; }
.lottery_list li span strong{color:#000; font-weight:normal}
.lottery_list li span strong.bold{font-weight:bold;color:#c62026;}

/*图形码*/
.graphics-code { display: -webkit-box;height:0; overflow:hidden;-webkit-transition:all ease 0.5s; transition:all ease 0.5s; }
.graphics-code .graphics-code-box { -webkit-box-flex: 2; overflow: hidden; position: relative; }
.graphics-code .graphics-code-box input { background: #fff; border: 1px solid #5c5c5c; border-radius:5px; width: 100%;padding: 0 10px; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); line-height: 38px; outline: none; font-size: 16px; }
.graphics-code .code-img { display: block; width: 70px; height: 38px; margin-left: 10px; border:1px solid #edeceb; border-radius:5px; }
.refresh-btn{ display:inline-block; width:45px; height:38px; text-align:center; line-height:38px;}
.refresh-btn img{ width:30px; height:30px;}
.form-box input.error{ border: 1px solid #c62026;}

.start-btn { display: block; background:url(../../../images/star-packet/20151020/formBtn_bg.png) repeat-x center center; line-height: 40px; text-align: center; font-size: 18px; color: #fff; margin-top:10px; }
.start-btn::visited {color:#c62026}
.tip-box { padding: 10px 15px 15px; background:#fff;}
.tip-text { display: block; line-height: 20px;/* text-align: center;*/ font-size: 11px; color: #555; margin-top:5px; }
.phone-txt{ text-align:center; padding-bottom:10px}
.phone-txt a{ text-decoration:underline; color:#000}

.dial_btn{display:block; line-height:12px; padding:5px 0 10px; text-align:center; font-size:11px; color:#555; text-decoration:underline; margin-bottom:10px}

/*404*/
.error-con{ width:100%;}
.error-con > i{ width:58%; max-width:100%; display:block; margin:18% auto 25px;}
.error-con > p{ font-size:15px; padding:0 24px; text-align:center; line-height:24px;font-family: "Microsoft Yahei","宋体"; }

/*活动结束页面*/
.activity-end{font-family: "Microsoft Yahei","宋体";}
.activity-end h3{ font-size:22px; color:#d91531; text-align:center; margin-top:20%;}
.activity-end > i{ width:52%; display:block; margin:20px auto 15px;}
.activity-end p{ text-align:center; color:#2d2d2d; font-size:18px; margin-top:6px;}
.activity-end p.f15{ font-size:15px; color:#555555; line-height:1.5;}

/*规则弹层*/
.red-use-info-box{background:rgba(0, 0, 0, 0.85);position: fixed;  width:100%; top:0; bottom:0; display:none;max-width:640px;z-index:99}
.red-use-info{ background:#fff;box-sizing:border-box;  width:90%; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); z-index:10; padding:25px 15px;}
.close-btn{ display:block; width:20px; height:20px; position:absolute; right:10px; top:10px; background:url(../img/close_icon.png) no-repeat;background-size:contain;}
.red-use-info h3{ text-align:center; font-size:15px; margin:5px 0 20px;}
.red-use-info p{ line-height:22px; color:#555; font-size:12px; max-height:280px; overflow-y:auto}

/*分享弹层*/
.share-box{background:rgba(0, 0, 0, 0.85);position: fixed; width:100%; top:0; bottom:0; z-index: 15;display:none; max-width:640px;}
.share-box a.know-btn { display: block; background: #c62026; margin: 10% 30% 5%; line-height: 40px; text-align: center; font-size: 15px; color: #fff; border-radius:5px; }

/*领光了弹层*/
.without-box{background:rgba(0, 0, 0, 0.85);position: fixed;  width:100%; top:0; bottom:0; display:none;max-width:640px; z-index:99}
.without-info{ background:#fff;box-sizing:border-box;  width:90%; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); z-index:10; padding:25px 15px;}
.without-info h3{ text-align:center; font-size:15px; margin:5px 20px 20px; line-height:24px}
.without-info p{ line-height:22px; color:#555; font-size:12px;}

/* 红包动画特效 */
.red-img{
  position: absolute; left: 0; top: 0;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  opacity:0; 
}
.red-img1{animation: red-animate1 linear 3s infinite forwards;-webkit-animation: red-animate1 linear 3s infinite forwards; -webkit-animation-delay: 0s;    -webkit-animation-duration: 3s;}
.red-img2{animation: red-animate2 linear 3s infinite forwards;-webkit-animation: red-animate2 linear 3s infinite forwards;-webkit-animation-delay: 1s;    -webkit-animation-duration: 2s; }
.red-img3{ animation: red-animate3 linear 3s infinite forwards;-webkit-animation: red-animate3 linear 3s infinite forwards; -webkit-animation-delay: 1.5s;  -webkit-animation-duration: 1.5s;}
.red-img4{animation: red-animate4 linear 3s infinite forwards;-webkit-animation: red-animate4 linear 3s infinite forwards;  -webkit-animation-delay: 0.5s;  -webkit-animation-duration: 2.5s;}

.coin-img1{animation: coin-animate1 linear 8s infinite forwards;-webkit-animation: coin-animate1 linear 8s infinite forwards; -webkit-animation-delay: 0s;    -webkit-animation-duration: 4s;}
.coin-img2{animation: coin-animate2 linear 8s infinite forwards;-webkit-animation: coin-animate2 linear 8s infinite forwards;-webkit-animation-delay: 1.5s;    -webkit-animation-duration: 2.5s; }
.coin-img3{ animation: coin-animate3 linear 8s infinite forwards;-webkit-animation: coin-animate3 linear 8s infinite forwards; -webkit-animation-delay: 1s;  -webkit-animation-duration: 3s;}
.coin-img4{animation: coin-animate4 linear 8s infinite forwards;-webkit-animation: coin-animate4 linear 8s infinite forwards;  -webkit-animation-delay: 0.5s;  -webkit-animation-duration: 3.5s;}


@-webkit-keyframes red-animate1 {
  0% {    -webkit-transform:  translate(0px,240px) rotate(0) scale(0.5,0.5) ;opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(200px,-50px) rotate(500deg) scale(1,1);opacity:1;  }
}

@-webkit-keyframes red-animate2 {
  0% {    -webkit-transform:  translate(0px,250px) rotate(0) scale(0.5,0.5) ;opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(300px,70px) rotate(500deg) scale(1,1);opacity:1;  }
}

@-webkit-keyframes red-animate3 {
  0% {    -webkit-transform:  translate(0px,250px) rotate(0) scale(0.5,0.5);opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(100px,-20px) rotate(500deg)  ;opacity:1;  }
}

@-webkit-keyframes red-animate4 {
  0% {    -webkit-transform:  translate(0px,250px) rotate(0) scale(0.5,0.5);opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(420px,50px) rotate(500deg) scale(1,1);opacity:1;  }
}

@-webkit-keyframes coin-animate1 {
  0% {    -webkit-transform:  translate(0px,240px) rotate(0) scale(0.5,0.5) ;opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(400px,-80px) rotate(500deg) scale(1,1);opacity:1;  }
}

@-webkit-keyframes coin-animate2 {
  0% {    -webkit-transform:  translate(0px,250px) rotate(0) scale(0.5,0.5) ;opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(360px,80px) rotate(500deg) scale(1,1);opacity:1;  }
}

@-webkit-keyframes coin-animate3 {
  0% {    -webkit-transform:  translate(0px,250px) rotate(0) scale(0.5,0.5);opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(50px,0px) rotate(500deg)  ;opacity:1;  }
}

@-webkit-keyframes coin-animate4 {
  0% {    -webkit-transform:  translate(0px,250px) rotate(0) scale(0.5,0.5);opacity:0;  }
  50%{ opacity:1}
  100% {    -webkit-transform:  translate(380px,150px) rotate(500deg) scale(1,1);opacity:1;  }
}


/*
	领取结果页
*/

.main-box{ padding:0 9px 0;}

.red-coupon{ position:relative; width:100%; background:url(../../../images/star-packet/20151020/packet_bg.jpg) no-repeat 0 0; background-size:100%; padding-top:79.5%; height:0;}
.red-coupon section{display:block; width:100%; position:absolute; top:0; left:0;}
.red-coupon h3{ display:block; width:100%; text-align:center; color:#c70e00; font-size:24px; height:40px; line-height:40px; padding:8% 0 0;}
.red-coupon h4{ display:block; width:100%; text-align:center; color:#c70e00; font-size:21px; padding:5px 0 10px; height:50px; vertical-align:text-bottom; background:url(../img/packet_icon.png) no-repeat 75% 0; background-size:50px;}
.red-coupon h4 em{font-size:50px;}

.surprise{ padding:10px 18px; background:#fff; margin-top:15px;}
.surprise h3{ font-size:14px; font-weight:normal; margin-bottom:10px; }
.surprise h3 strong{ color:#d91531;}
.surprise .red-desc-box{ display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-align: center; position:relative;}
.surprise .red-desc-box i{display:block; width:45px;}
.surprise .red-desc-box p{display:block;line-height:20px; margin:0 150px 0 8px; font-size:13px; max-height:60px; overflow:hidden;}
.surprise .red-desc-box a{ position:absolute; right:0; top:10px;color:#d91531; font-size:13px; border:1px solid #d91531; border-radius:5px; line-height:30px; padding:0 6px;}
.coupon-img{position:absolute; right:0; top:-3px;color:#d91531; width:95px; height:57px;}

.img-box{width:100%;}
.img-box a{ display:block; margin-bottom:10px;}

.phone_txt{display:block; text-align:center; font-size:10px; color:#c62026; line-height:16px; padding:25px 0 10px; background:url(../../../images/star-packet/20151020/phone_bg.jpg) no-repeat 0 0; background-size:100%;}
.phone_txt strong{font-weight:normal}

.link_box{padding:20px 5%;}
.link_box span{display:block; margin:10px 0 0;}
.link_box span a{display:block; float:left; width:48%; color:#c62026; border:1px solid #c81d1e; height:38px; line-height:38px; text-align:center; font-size:15px;}
.link_box span a:nth-child(2){float:right;}

.download-btn { display: block; margin: 10px auto 0; line-height: 40px; text-align: center; font-size: 16px; color: #fff; background:url(../../../images/star-packet/20151020/btn_bg.png) repeat-x center center; background-size:auto 40px; }
.rule-btn{ display:block; line-height:12px; padding:15px 0 0; text-align:center; font-size:14px; color:#555; text-decoration:underline;}

.red-val{ width:100%;}
.red-val h3{color:#c70e00; font-size:30px; text-align:center;margin:15px 0 10px; line-height:30px; margin-right:30px;}
.red-val h4{ display:block; width:100%; text-align:center; color:#c70e00; font-size:21px;vertical-align:middle; margin-top:10px}
.red-val h3 i{ width:42px; height:46px; display:inline-block; margin-left:20px; margin-right:10px; vertical-align:top; margin-top:-10px;}
.red-val h4 em{font-size:35px;}

.tip-red-text{width:100%; background:url(../../../images/star-packet/20151020/img04.jpg) no-repeat 0 0; background-size:100% auto;}
.tip-red-text p{padding:12% 50px 10px 6%; font-size:12px; line-height:16px;}

.user-red-text{ font-size:12px; line-height:16px;padding:2% 3%;}
.service-phone{ display:block; text-align:center;font-size:12px;color:#000; line-height:20px; margin-bottom:20px;}
.service-phone a{color:#000;}

.bg-box{width:100%; background:url(../../../images/star-packet/20151020/line_bg.jpg) repeat-y center 0; background-size:100% auto; border:1px dashed #c81d1e; border-radius:10px; margin-top:15px; padding:10px 0; position:relative;}
.bg-box1{width:100%;  margin-top:10px;position:relative;}
.right_tag_icon{ width:81px; height:64px; position:absolute; top:-5px; right:-5px; z-index:5;}
.title_tag{width:90px; height:16px; position:absolute; top:-10px; left:8px; z-index:5;}
.coupon-p{ margin-top:5px;}


.get-btn{ width:170px; margin:15px auto 0; display:block; line-height:36px;background:url(../../../images/star-packet/zly-1021/btn_bg.jpg) no-repeat center 0; background-size:100%; text-align:center; color:#fff; font-size:15px}

.one-list{ margin-top:7px}
.two-list{margin-top:7px; margin-left:-2px;}
.two-list li{box-sizing:border-box; padding-left:2px;width: 50%;float: left;}
.two-list li img,.three-list li img{ width:100%}
.three-list{margin-top:7px; margin-left:-2px;}
.three-list li{box-sizing:border-box; padding-left:2px;width: 33.3%;float: left;}


/*明星同款*/
.start{position:relative; width:100%; min-height:190px;}
.start a{position:absolute; top:0; left:0; z-index:10;}
.start .hat{width:30%; height:30%; left:3%; top:5%;}
.start .coat{width:38%; height:50%; left:60%; top:15%;}
.start .boot{width:30%; height:30%; left:70%; top:70%;}
.start .sweater{width:36%; height:40%; left:30%; top:60%;}
.start .pants{width:25%; height:50%; left:3%; top:50%;}