@charset "utf-8";
/* CSS Document */
 body{ background-color:#000} 
.main_box{
	width:100%;
	max-width:640px;
	margin:0 auto 15px;
}
.main_box a{
	display:block;
	width:100%;
}
.main_box img{
	display:block;
	width:100%;
}

.top_img{
	width:100%;
	display:block;
	margin-bottom:0px;
	
}
.prod_list{
	padding:0 4px 0 0;
}
.prod_list li{
	float:left;
	width:50%;
	margin-top:4px;
}
.prod_list li:nth-child(2n){
	float:right;
	margin-right:-4px;
}

.main_box h2{
	width:100%;
	display:block;
	margin:15px 0 0;
}
.main_box h3{
	width:100%;
	padding:10px 0;
	display:block;
}
.main_box h4{
	width:100%;
	display:block;
	padding-top:4px;
}


