@charset "utf-8";
/* CSS Document */
* {/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/ margin: 0; padding: 0; }
body { background: #fff; font-size: 14px; -webkit-text-size-adjust: none; font-family: arial; }
ul, ol, li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a, fieldset, img { border: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
input, img { vertical-align: middle; }
img { max-width: 100% }
i, em { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; }
input[type=text], input[type=password], input[type=number], input[type=url], input[type=email], input[type=tel] { font-size: 14px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-appearance: none; appearance: none; outline: none; -webkit-border-radius: 0; border-radius: 0; }
input[type=checkbox], input[type=radio], select { vertical-align: middle; }
select { font-size: 16px; height: 30px; line-height: 30px; }
textarea { font-size: 14px; border: 1px #ccc solid; -webkit-box-shadow: inset 0 2px 2px #999; box-shadow: inset 0 2px 2px #999; }
header, nav, section, footer { display: block; }
.txt_center { text-align: center; }
.txt_right { text-align: right; }
a,a:hover{ text-decoration: none; }
.clr:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; zoom: 1 }

