
.onBody{
	height:100%;
	overflow:hidden;	
}
.container{ min-width:320px; max-width:640px; margin:0 auto; overflow:hidden; background:#f3f3f3}

.headApp {width: 100%}
.headApp img { display: block;width: 100%}

.topFix{position:relative; height:44px;}
.topFix section {position:relative; height:44px; overflow:hidden; min-width:320px; max-width:640px;}

a,img,button,input,textarea,li{-webkit-tap-highlight-color:rgba(255,255,255,0);}
.conbox{ background:#000; position:relative;}
.conbox img{ display:block; width:100%;}
.conbox a{ display:block}
.conbox h3{ margin-top:8px;}
.conbox h4{ margin:8px 0;}
.conbox h5{ margin-bottom:10px;}
.title-box{ position:relative; margin-top:5px;}

.imgList{ margin-top:5px;}
.sp_list{padding:0 5px 0 0;}
.sp_list li{float:left;width:50%; margin-top:5px; }
.sp_list li a:nth-child(2n){ margin-top:3%;}
.sp_list li:nth-child(2n){ margin-right:-5px; float:right;}
.position_l{ position:absolute; bottom:0;}
.position_r{ position:relative; bottom:0;}

.sp_list_two{ /*margin-top:5px;*/ display:box; display:-webkit-box; display:flex; display:-webkit-flex;}
.sp_list_two li{ flex:1; -webkit-flex:1; box-flex:1; -webkit-box-flex:1;}

.no-m{ margin-top:0;}

.venue_list,.venue_list2{ width:100%; padding:0; display:-webkit-box;display:box; display:-webkit-flex;display:flex; }
.venue_list li{width:33.3%; box-flex:1;-webkit-box-flex:1; flex:1;-webkit-flex:1; box-sizing:border-box;}

.venue_list2 li{ width:25%;}
.venue_list2 li.twoblock{ width:50%;box-flex:2;-webkit-box-flex:2; flex:2;-webkit-flex:2; box-sizing:border-box;}

.nom{ margin-top:0px;}
.conbox h3.nom{ margin-top:0px;}
.list-nom{ padding:0;}
.list-nom li{ margin-top:0;}
.list-nom li:nth-child(2n){ margin-right:0; float:right;}

.coupon-btn{ margin-top:5px; }
.coupon-btn2{ padding:0 10px 0 5px;}
.coupon-btn li{float:left;width:50%; }
.coupon-btn li:nth-child(2n){ margin-right:-5px; float:right;}

/*优惠劵弹层*/
.verify-box{
	background:url(../../../images/one/images2/img04.jpg) repeat-y;
	box-sizing:border-box;
	background-size:100% auto;
}
.modal-bd {
  position:relative;
  padding:5px 10% 10px;
  line-height:24px;
  color:#2d2d2d;
  box-sizing:border-box;
}
.tip_text{ color:#b6acaa; font-size:12px;}
.modal-bd strong{ color:#c62026; font-weight:normal}
.modal-ft {
  border-top: 1px solid #cccccc;
  display:block;
  text-align: center;
  line-height: 40px;
}
.out_text{
	color: #f00;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
}

.step-btn{ text-align:center; width:100%; background:#c53220; margin-top:10px;}
.step-btn a{  line-height:22px; display:block; padding:7px 0; color:#fff; font-size:16px;}


.prompt{ font-size:12px; color:#fff; padding:0 3px;-webkit-transition:all ease 0.5s; transition:all ease 0.5s; height:0; overflow:hidden; line-height:20px;}

.modal-bd input{ width:100%; height:42px;line-height: 40px; padding:0 12px; box-sizing:border-box; outline: none;font-size: 12px; border:1px solid #b4b4b4; background:#fff; display:block;}

.yzm-box { display: -webkit-box; display:-webkit-felx; margin-top:10px; }
.yzm-box > .login_list { box-flex:1;-webkit-box-flex:1; overflow: hidden;position: relative; }
.yzm-box > .login_list input,.yzm-box > .login_list em{-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.yzm-box > em {  display: block; width: 100px; height:42px;line-height: 40px;box-sizing:border-box;   margin-left: 10px;   text-align: center; color: #ffffff; border:1px solid #fff; font-size:14px; white-space:nowrap;}