body { background: #f2f2f2 }
.paymet_block { width: 100%; }
.paymet_block p.addr_block { margin-top: 10px; padding: 0 10px; background-color: #fff; color: #555; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; }
.paymet_block p.addr_block span { display: block; padding: 10px 0; line-height: 20px; border-bottom: 1px solid #d8d8d8; }
.paymet_block p.addr_block span i { display: block; line-height: 30px; }
.paymet_block p.addr_block span.addr_edit { border: none; text-align: right; }
.paymet_block p.addr_block span.addr_edit a { display: inline-block; color: #2d2d2d; height: 20px; padding-left: 20px; background-image: url(../../../images/order/edit_icon.png); background-repeat: no-repeat; background-size: 16px; }
.paymet_block p.addr_block span.addr_edit a.editBtn { background-position: 0 0; }
.paymet_block p.addr_block span.addr_edit a.deletBtn { background-position: 0 -20px; }
.paymet_block fieldset { width: 100%; padding-bottom: 10px; }
.paymet_block fieldset.notBtm { padding-bottom: 0; }
.paymet_block fieldset legend { color: #2d2d2d; font-size: 16px; padding: 0 15px; height: 39px; line-height: 39px; border-bottom: 1px solid #d8d8d8; display: block; width: 100%; box-sizing: border-box; }
.paymet_block fieldset legend.price { border-top: 1px solid #d8d8d8; color: #c62026; background: #fff }
.paymet_block fieldset legend.price em { display: block; float: left; }
.paymet_block fieldset legend.price span { float: right; }
.paymet_block fieldset p { border-bottom: 1px solid #d8d8d8; background-color: #fff; height: 39px; line-height: 39px; color: #999; padding: 0 15px; position: relative; }
.paymet_block fieldset p.selected { height: auto; line-height: 22px; }
.paymet_block fieldset p.selected a { background: background-size: 7px 12px;display: block; line-height: 22px; padding: 8px 0; color: #555 }
.paymet_block fieldset p.selected a strong { color: #red; font-weight: normal }
.paymet_block fieldset p.selected a .phone { float: right; padding-right:15px;}
.paymet_block fieldset p.selected time { float: right }
.paymet_block fieldset p span.delivery_mode { display: inline-block; float: right; background: none; margin-right: 20px; line-height: 22px; padding: 0; }
.paymet_block fieldset p.select a { background: url(../../../images/order/arrow_r.png) no-repeat right center; background-size: 7px 12px; color: #555; display: block; line-height: 22px; padding: 8px 0; }
.paymet_block fieldset p label { display: inline-block; margin: 0 10px 0 0; width: 65px; font-size: 12px; color: #555; }
.paymet_block fieldset p input[type=text], .paymet_block fieldset p input[type=password] { border: 1px solid #fff; background: rgba(0,0,0,0); height: 24px; width: 65%; z-index: 0; font-size: 12px; padding: 0 5px; }
.paymet_block fieldset p input[type=password].giftCard { border: 1px solid #eee; height: 28px; margin: 5px 0; width: 95%; }
.paymet_block fieldset p input[type=text].error, .paymet_block fieldset p input[type=password].error { border: 1px solid #f00; }
.select-invoice a { color: #555 }
.select-invoice .select-option { display: inline-block; width: 40px; height: 21px; line-height: 21px; font-size: 12px; text-align: right; color: #888; background: url(../../../images/order/radio.png) no-repeat 55px -5px; background-size: 21px; padding: 5px 0 5px 55px; }
.select-invoice .cur { background: url(../../../images/order/radio.png) no-repeat 55px -45px; background-size: 21px; }
/*提交按钮*/
.payment_fixed { position: fixed; bottom: 0; left: 0; width: 100%; background-color: #f2f2f2; border-top: 1px solid #d8d8d8; }
.payment_submit { position: relative; margin: 15px; height: 40px; }
.payment_submit.right_btn { position: absolute; right: 0; bottom: 0; width: 130px; }
.payment_submit dl { display: -webkit-box; display: -moz-box; display: -o-box; display: box; width: 100%; }
.payment_submit dt { width: 8px; }
.payment_submit dd { -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
.payment_btn { background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; }
input.payment_btn { opacity: 0; outline: none; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; margin: 0 auto; }
input.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; }
.paymet_block fieldset p.pord_info { height: auto; }
.paymet_block fieldset p.pord_info a { display: block; padding: 10px 0 5px; }
.paymet_block fieldset p.pord_info img { float: left; margin: 0 10px; }
.paymet_block fieldset p.pord_info ins { margin-left: 15px; text-decoration: none; line-height: normal; float: left; }
.paymet_block fieldset p.pord_info i { color: #2d2d2d; font-size: 12px; line-height: 16px; display: block; width: 190px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 5px; }
.paymet_block fieldset p.pord_info em { display: inline-block; line-height: 16px; height: 16px; color: #888; font-size: 12px; width: 90px; overflow: hidden; white-space: nowrap; }
.paymet_block fieldset p.invoice { height: auto; line-height: 24px; padding: 10px 15px; display: none }
.paymet_block fieldset p.invoice a { color: #888; height: auto; }
.paymet_block fieldset p.invoice em { color: #2d2d2d; }
.paymet_block fieldset p.coupons i { position: absolute; right: 40px; top: 0; line-height: 39px; }
.paymet_block fieldset p.coupons i em { color: #ff3b3b; }
.paymet_block fieldset p.giftCard a { color: #555; display: block; background: url(../../../images/order/select_Nbg.png) no-repeat right center; background-size: 21px; }
.paymet_block fieldset p.giftCard a.cur { background: url(../../../images/order/select.png) no-repeat right center; background-size: 21px; }
.paymet_block fieldset p.giftCard i { color: #ff3b3b; font-size: 12px; padding-left: 20px; }
/*支付方式*/
.paymet_block fieldset p.payment-method span { display: block; line-height: normal; padding: 5px 0 5px 55px; background-image: url(../../../images/order/bank.png); background-repeat: no-repeat; background-size: 45px; }
.paymet_block fieldset p.payment-method span a { display: block; font-size: 9px; color: #888; background: url(../../../images/order/radio.png) no-repeat right -5px; background-size: 21px; }
.paymet_block fieldset p.payment-method span a.cur { background: url(../../../images/order/radio.png) no-repeat right -45px; background-size: 21px; }
.paymet_block fieldset p.payment-method span a em { font-size: 12px; color: #555; }
.paymet_block fieldset p.payment-method span.alipay { background-position: 0 0; }
.paymet_block fieldset p.payment-method span.unionPay { background-position: 0 -40px; }
.paymet_block fieldset p.payment-method span.weixinPay { background-position: 0 -160px; }
.paymet_block fieldset p.payment-method span.cashPay { background-position: 0 -80px; }
.paymet_block fieldset p.payment-method span.postPay { background-position: 0 -120px; }
.paymet_block fieldset p.payment-method span.weixinPay a, .paymet_block fieldset p span.cashPay a, .paymet_block fieldset p span.postPay a { height: 29px; line-height: 29px; color: #555; }
.paymet_block fieldset p.total { border-top: 1px solid #d8d8d8; height: auto; text-align: right; font-size: 13px; line-height: 20px; margin-top: 10px; padding: 10px 15px; color: #555; }
.paymet_block fieldset p.total em { display: block; padding-top: 10px; color: #ff3b3b; }
.paymet_block fieldset p.total i { display: inline-block; width: 60px; text-align: left; }
.paymet_block .payment_fixed { position: relative; bottom: 0; left: 0; width: 100%; background-color: #f2f2f2; }
.paymet_block .payment_submit { position: relative; margin: 15px; height: 40px; }
.paymet_block .payment_submit dl { display: -webkit-box; display: -moz-box; display: -o-box; display: box; width: 100%; }
.paymet_block .payment_submit dt { width: 8px; }
.paymet_block .payment_submit dd { -webkit-box-flex: 1; -moz-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
.paymet_block .payment_btn { background-color: #c62026; border: 1px solid #c62026; height: 38px; line-height: 38px; color: #fff; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.paymet_block .payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; color: #fff; }
.paymet_block input.payment_btn { opacity: 0; outline: none; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; margin: 0 auto; }
.paymet_block input.payment_btn:hover { background-color: #aa0006; border: 1px solid #aa0006; color: #fff; }
.paymet_block .contiu_btn { background-color: #fff; border: 1px solid #c62026; color: #c62026; height: 38px; line-height: 38px; text-align: center; font-size: 18px; display: block; box-sizing: border-box; }
.paymet_block .contiu_btn:hover { background-color: #c62026; border: 1px solid #c62026; color: #fff; }
/*地区选择层*/
#area_overlay1 { position: absolute; z-index: 99998; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.4); display: none; }
#area_layer1 { width: 100%; height: 200px; position: fixed; bottom: 0; left: 0; z-index: 99999; background-color: #fff; display: none; }
#area_layer1 .close_btn { position: absolute; top: 10px; right: 10px; background: url(../../../images/order/close-c.png) 0 0 no-repeat; background-size: 15px; text-indent: -3000px; display: block; width: 15px; height: 15px; }
#area_layer1 h3 { color: #000; font-size: 16px; font-weight: normal; padding: 0 15px; height: 39px; line-height: 39px; display: block; width: 100%; box-sizing: border-box; background-color: #f2f2f2; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
#area_layer1 dl { width: 100%; height: 157px; overflow: hidden; overflow-y: auto; }
#area_layer1 dl:not(:first-of-type) { display: none; }
#area_layer1 dd { border-bottom: 1px solid #d8d8d8; height: 39px; line-height: 39px; color: #999; padding: 0 15px; position: relative; }
#area_layer1 dd a { display: block; font-size: 12px; color: #555; background: url(../../../images/order/radio.png) no-repeat right 0; background-size: 21px; }
#area_layer1 dd a.cur { background: url(../../../images/order/radio.png) no-repeat right -40px; background-size: 21px; }
/*身份证弹框样式start*/
#overlay { position: fixed; z-index: 998; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0,0.5); display: none; }
#popup_box { position: fixed; z-index: 999; display: none; background: #fff; min-width: 300px; transform: translate(-50%, -50%); top: 30%;}
#popup_message { height: auto; padding: 10px; }
#popup_message p { font-size: 12px; line-height: 180%; text-align: left; color: #888; margin-bottom:5px; }
#popup_title { background: #e8e8e8; text-align: left; padding-left: 10px; line-height: 50px; border-radius: 2px; }
#popup_box .title_closeBtn { width: 25px; height: 25px; line-height: 25px; text-align: center; position: absolute; font-size: 28px; color: #333; border-radius: 0; background: none; top: 12px; right: 10px; }
#popup_panel{ margin-top:10px;}
#popup_content button#popup_cancel, #popup_content button#popup_cancel:hover { background: #fff; color: #c62026; }
#popup_content button#popup_cancel { height: 28px; line-height: 28px; border: 1px solid #c62026; }
#popup_content button { width: 90px; height: 30px; line-height: 30px; font-size: 14px; text-align: center; border-radius: 0; }
#popup_content button, #popup_content button:hover { background: #de4747; color: #fff; padding: 0; cursor: pointer; font-weight: normal; }
.identification-box {border-top:1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8;height: 36px; line-height: 36px; color: #999;position: relative; text-align:left;}
.identification-box label { display: inline-block; width: 75px; font-size: 12px; color: #555;  }
.identification-box input[type=text]{ border: 1px solid #fff; background: rgba(0,0,0,0); height: 24px; width: 190px; z-index: 0; font-size: 12px; }
/*zhanghongwei加入*/
#address_list_container, #address_add_container, #address_edit_container, #invoice_container, #invoice_address_container,#invoice_address_add_container,  #invoice_address_edit_container{display:none;}

/* 发票信息  */
.select-menu {width:40%;padding: 5px 0;  border: 1px solid #d8d8d8;font-size:13px;  background: url(../../images/select_arrow.png) #fff no-repeat 95% center;background-size:13px 8px;}    
.select-menu select { background: transparent;width:40%;font-size:13px;border: 0; height: 26px;line-height: 20px; vertical-align:middle; -webkit-appearance: none; color:#999; outline:none;}  

.select-address{display:block;font-size:9px;color:#888;background:url(../../../images/radio.png) no-repeat right -5px;background-size:21px;}
.cur{background:url(../../../images/radio.png) no-repeat right -45px;background-size:21px;}
.select-address em{font-size:12px;color:#555;}
.other-address{font-size:12px;}

/*解决样式冲突*/
#address_list_container .topFix, #address_add_container .topFix, #address_edit_container .topFix, #invoice_container .topFix, #invoice_address_container .topFix,#invoice_address_add_container .topFix,  #invoice_address_edit_container .topFix{min-width:320px; max-width:640px;position:static; height:45px;}
#address_list_container .topFix section, #address_add_container .topFix section, #address_edit_container .topFix section, #invoice_container .topFix section, #invoice_address_container .topFix section,#invoice_address_add_container .topFix section,  #invoice_address_edit_container .topFix section{ position:static;}

#address_list_container .topBack p, #address_add_container .topBack p, #address_edit_container .topBack p, #invoice_container .topBack p, #invoice_address_container .topBack p,#invoice_address_add_container .topBack p,  #invoice_address_edit_container .topBack p{position:absolute; right:15px; top:0px; }
#address_list_container .topBack p a, #address_add_container .topBack p a, #address_edit_container .topBack p a, #invoice_container .topBack p a, #invoice_address_container .topBack p a,#invoice_address_add_container .topBack p a,  #invoice_address_edit_container .topBack p a{color:#fff;}
.paymet_block p.addr_block .bcur { margin-top: 10px; padding: 0 10px; background-color: #fff; color: #555; border-top: 1px solid #c62026; border-bottom: 1px solid #c62026; }

/**取消订单*/
.btn-icon{ width:100%; height:38px; overflow:hidden;}
.btn-icon a{ float:left; display:block; width:48%; box-sizing:border-box;background-color: #c62026;border: 1px solid #c62026;height: 38px;line-height: 38px;color: #fff;text-align: center;font-size: 18px;}
.btn-icon a.cancel-btn{ margin-right:4%;}