.img_pick {
	padding: 20px
}

.img_pick .img_item {
	float: left;
	text-align: center
}

.img_pick .img_item .pic {
	display: block;
	border-bottom: 1px solid #e7e7eb
}

.img_pick .img_item .pic:hover {
	cursor: pointer;
	cursor: hand
}

.img_pick .img_item .lbl_content {
	height: 32px;
	line-height: 32px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.group_list .num {
	display: inline-block;
	padding-left: 3px;
	font-style: normal;
	color: #8d8d8d
}

.group_list dt.inner_menu_item {
	background-color: #f4f5f9
}

.img_pick_panel .icon_loading_small {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px
}

.img_pick_panel.side_l.cell_layout .inner_side {
	width: 18%;
	*width: 152px;
	*max-width: 152px
}

.img_pick_panel .group_list {
	height: 460px;
	overflow-y: auto
}

.img_pick_panel .img_pick_area {
	position: relative;
	height: 460px;
	overflow-y: auto;
	overflow-x: hidden
}

.img_pick_panel .inner_menu_link {
	padding-left: 1.5em
}

.img_pick_panel .inner_menu_link strong {
	max-width: 86px
}

.img_pick_panel .bubble_tips {
	margin-right: 14px
}

.img_pick {
	padding-bottom: 5px;
	text-align: center
}

.img_pick .img_list {
	margin-right: -20px
}

.img_pick .img_item {
	position: relative;
	margin-right: 11px;
	margin-bottom: 10px
}

.img_pick .img_item .pic {
	width: 117px;
	height: 117px
}

.img_pick .img_item .lbl_content {
	display: block;
	padding: 0 9px
}

.img_pick .img_item .lbl_content .icon_original {
	width: 34px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	vertical-align: -4px
}

.img_pick .img_item .lbl_content .icon_original.accessed {
	background: url("../../images/menu/dialog_img_pick_z29843e.png") 0 0 no-repeat
}

.img_pick .img_item_bd {
	margin: 0;
	border: 1px solid #e7e7eb;
	width: 117px
}

.img_pick .img_item_bd.selected .selected_mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.img_pick .img_item_bd.selected .selected_mask_inner {
	width: 118px;
	height: 118px;
	-moz-opacity: .6;
	-khtml-opacity: .6;
	opacity: .6;
	background-color: #000;
	filter: alpha(opacity = 60)
}

.img_pick .img_item_bd.selected .selected_mask_icon {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent url(../../images/menu/icon_card_selected218877.png)
		no-repeat 0 0;
	width: 117px;
	height: 117px;
	vertical-align: middle;
	display: inline-block;
	background-position: 50% 50%
}

.img_dialog_wrp .dialog_bd {
	padding: 0
}

.img_dialog_wrp .sub_title_bar.in_dialog {
	padding: 10px 20px
}

.img_dialog_wrp .sub_title_bar.in_dialog .mass_send_tips {
	height: 30px;
	line-height: 30px;
	margin-right: 1em;
	color: #8d8d8d
}

.img_dialog_wrp .pagination {
	text-align: right;
	padding: 0 16px 20px
}

.img_dialog_wrp .dialog_ft_desc {
	position: absolute;
	bottom: 23px;
	left: 20px
}

.img_water.popover {
	z-index: 9999
}

.img_water_tips {
	margin-right: 1em;
	line-height: 32px
}